.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

html, body {
  font-size: 16px;
  font-family: "Montserrat", sans-serif !important;
  margin: 0;
  font-weight: 400;
  line-height: 24px;
  color: #171717;
  text-align: left;
  height: 100%;
  transition: 0.5s;
  scroll-behavior: smooth;
}

.site-container-1340 {
  padding-right: 15px;
  padding-left: 15px;
  margin: auto;
  position: relative;
  max-width: 1340px !important;
  width: 100%;
}
@media (min-width: 992px) {
  .site-container-1340 {
    padding-right: 50px;
    padding-left: 50px;
  }
}

.container-1340-override {
  max-width: 1316px !important;
}

.site-container-1200 {
  padding-right: 15px;
  padding-left: 15px;
  margin: auto;
  position: relative;
  max-width: 1200px;
  width: 100%;
}
@media (min-width: 992px) {
  .site-container-1200 {
    padding-right: 50px;
    padding-left: 50px;
  }
}

.site-container-992 {
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
  position: relative;
  max-width: 992px;
  width: 100%;
}

.container-fluid {
  width: 100%;
  padding-right: 15px !important;
  padding-left: 15px !important;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 992px) {
  .container-fluid {
    padding-right: 50px !important;
    padding-left: 50px !important;
  }
}

.ul-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul li {
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
  font-family: "Montserrat", sans-serif !important;
}

ol li {
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
  font-family: "Montserrat", sans-serif !important;
}

@media (min-width: 992px) {
  .col-lg-5col {
    flex: 0 0 auto !important;
    width: 20% !important;
  }
}

span.SubHead,
.secondary-text {
  color: #1b2942 !important;
}

.white-text {
  color: #ffffff !important;
}

.mid-black-text {
  color: #808080 !important;
}

.primary-text {
  color: #4d39e9 !important;
}

.red-text {
  color: red !important;
}

.primary-link {
  color: #29b494 !important;
  text-decoration: underline;
  transition: 0.5s !important;
  font-weight: 700;
}
.primary-link:hover, .primary-link:active {
  color: #1b2942 !important;
}

.primary-link-alt {
  color: #29b494 !important;
  text-decoration: none;
  transition: 0.5s !important;
  font-weight: 700;
}
.primary-link-alt:hover, .primary-link-alt:active {
  color: #1b2942 !important;
}

.secondary-link {
  color: #1b2942 !important;
  text-decoration: underline;
  transition: 0.5s !important;
  font-weight: 700;
}
.secondary-link:hover, .secondary-link:active {
  color: #29b494 !important;
}

.bold {
  font-weight: 700 !important;
}

h1, h2, h3, h4, h5, h6 {
  color: unset;
}

h1,
.h1-heading {
  font-size: calc(1rem * 2.375) !important;
  font-weight: 700;
  line-height: calc(24px * 1.666) !important;
  font-family: "Montserrat", sans-serif !important;
}

h2,
.h2-heading {
  font-size: calc(1rem * 2) !important;
  font-weight: 700;
  line-height: calc(24px * 1.666) !important;
  font-family: "Montserrat", sans-serif !important;
}

h3,
.h3-heading {
  font-size: calc(1rem * 1.5) !important;
  font-weight: 600;
  line-height: calc(24px * 1.25) !important;
  font-family: "Montserrat", sans-serif !important;
  font-family: "Montserrat", sans-serif !important;
}

span.SubHead,
h4,
.h4-heading {
  font-size: calc(1rem * 1.25) !important;
  font-weight: 600;
  line-height: calc(24px * 1.1666) !important;
  font-family: "Montserrat", sans-serif !important;
}

h5,
.h5-heading {
  font-size: 1rem !important;
  font-weight: 600;
  line-height: 24px !important;
  font-family: "Montserrat", sans-serif !important;
}

h6,
.h6-heading {
  font-size: calc(1rem * 3) !important;
  font-weight: 700;
  line-height: calc(24px * 2.333) !important;
  font-family: "Montserrat", sans-serif !important;
}

p {
  font-size: 1rem !important;
  font-weight: 400;
  line-height: 24px !important;
  font-family: "Montserrat", sans-serif !important;
}

.copywrite {
  font-size: calc(1rem - 1px);
}

@media (min-width: 992px) {
  h1,
.h1-heading {
    font-size: calc(1rem * 2.625) !important;
    font-weight: 700 !important;
    line-height: calc(24px * 2.083) !important;
    font-family: "Montserrat", sans-serif !important;
  }
  h2,
.h2-heading {
    font-size: calc(1rem * 2.25) !important;
    font-weight: 700 !important;
    line-height: calc(24px * 1.666) !important;
    font-family: "Montserrat", sans-serif !important;
  }
  h3,
.h3-heading {
    font-size: calc(1rem * 1.75) !important;
    font-weight: 600 !important;
    line-height: calc(24px * 1.416) !important;
    font-family: "Montserrat", sans-serif !important;
  }
}
.btn-size-lg {
  padding: 0 20px;
  height: 60px;
}

.btn-size-sm {
  padding: 0 18px;
  height: 40px;
}

.btn-primary {
  transition: 0.5s !important;
  cursor: pointer !important;
  background-color: #ffffff !important;
  font-weight: 600 !important;
  border-radius: 0px !important;
  border: 2px solid #ffffff !important;
  color: #4d39e9 !important;
  line-height: 24px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  text-transform: capitalize;
  text-decoration: none !important;
}
.btn-primary:hover, .btn-primary:active {
  background-color: transparent !important;
  border: 2px solid #ffffff !important;
  color: #ffffff !important;
}
.btn-primary:focus {
  box-shadow: none !important;
}

.btn-primary-alt {
  transition: 0.5s !important;
  cursor: pointer !important;
  background-color: #29b494 !important;
  font-weight: 600 !important;
  border-radius: 0px !important;
  border: 2px solid #29b494 !important;
  color: #ffffff !important;
  line-height: 24px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  text-transform: capitalize;
  text-decoration: none !important;
}
.btn-primary-alt:hover, .btn-primary-alt:active {
  background-color: #d57081 !important;
  border: 2px solid #d57081 !important;
  color: #ffffff !important;
}
.btn-primary-alt:focus {
  box-shadow: none !important;
}

.btn-secondary {
  transition: 0.5s !important;
  cursor: pointer !important;
  background-color: #1b2942 !important;
  font-weight: 600 !important;
  border-radius: 0px !important;
  border: 2px solid #1b2942 !important;
  color: #29b494 !important;
  line-height: 24px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  text-transform: capitalize;
  text-decoration: none !important;
}
.btn-secondary:hover, .btn-secondary:active {
  background-color: #d57081 !important;
  border: 2px solid #d57081 !important;
  color: #1b2942 !important;
}
.btn-secondary:focus {
  box-shadow: none !important;
}

.btn-secondary-alt {
  transition: 0.5s !important;
  cursor: pointer !important;
  background-color: #4d39e9 !important;
  font-weight: 600 !important;
  border-radius: 0px !important;
  border: 2px solid #1b2942 !important;
  color: #ffffff !important;
  line-height: 24px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  text-transform: capitalize;
  text-decoration: none !important;
}
.btn-secondary-alt:hover, .btn-secondary-alt:active {
  background-color: #29b494 !important;
  border: 2px solid #29b494 !important;
  color: #ffffff !important;
}
.btn-secondary-alt:focus {
  box-shadow: none !important;
}

.btn-white {
  transition: 0.5s !important;
  cursor: pointer !important;
  background-color: #ffffff !important;
  font-weight: 600 !important;
  border-radius: 0px !important;
  border: 2px solid #ffffff !important;
  color: #4d39e9 !important;
  line-height: 24px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  text-transform: capitalize;
  text-decoration: none !important;
}
.btn-white:hover, .btn-white:active {
  background-color: #4d39e9 !important;
  border: 2px solid #4d39e9 !important;
  color: #ffffff !important;
}
.btn-white:focus {
  box-shadow: none !important;
}

.btn-nav {
  transition: 0.5s !important;
  cursor: pointer !important;
  background-color: #4d39e9 !important;
  font-weight: 600 !important;
  border-radius: 0px !important;
  border: 2px solid #4d39e9 !important;
  color: #ffffff !important;
  line-height: 24px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  text-transform: capitalize;
  text-decoration: none !important;
}
.btn-nav:hover, .btn-nav:active {
  background-color: #29b494 !important;
  border: 2px solid #29b494 !important;
  color: #ffffff !important;
}
.btn-nav:focus {
  box-shadow: none !important;
}

.z-15 {
  z-index: 15;
  position: relative;
}

.purple-bg {
  background-color: #4d39e9 !important;
}

.light-bg {
  background-color: #F4F4F4 !important;
}

.faq-bg {
  background-color: #e7f5f2 !important;
}

.pl-3 {
  padding-left: 1rem !important;
}

.border-bottom-mid {
  border-bottom: 1px solid #C1C1C1;
}

@media (min-width: 992px) {
  .d-lg-block {
    display: block !important;
  }
}

.main-navigation {
  z-index: 150;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  transition: 0.6s;
  background-color: #ffffff;
  align-items: center;
  flex-direction: row;
  height: 75px;
}

.main-social-nav img {
  transition: width 1s;
}

.main-navigation-scroll .main-nav-top-row {
  height: 50px;
}
.main-navigation-scroll .main-social-nav img {
  width: 100px;
}

.header-logo img {
  width: 125px;
}

.states-header-logo {
  width: 100px !important;
}
.states-header-logo .cls-1 {
  fill: #29b494 !important;
  opacity: 1 !important;
}
.states-header-logo .cls-2 {
  fill: #1b2942 !important;
}

.main-nav-bottom-row {
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #C1C1C1;
}

.nav-menu-item {
  background: transparent;
  border: none;
  padding: 0 0.5rem;
  transition: 0.5s !important;
}
.nav-menu-item a {
  display: block;
  padding: 0 1rem;
  border: none;
  background: none;
  color: #171717;
  transition: 0.5s !important;
  font-weight: 400;
  text-transform: uppercase;
}
.nav-menu-item a:hover, .nav-menu-item a:active {
  color: #4d39e9;
}
.nav-menu-item a:hover:after, .nav-menu-item a:active:after {
  transform: scaleX(1);
}
.nav-menu-item a:after {
  display: block;
  content: "";
  border-bottom: solid 3px #4d39e9;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
  transform-origin: 100% 50%;
}

.mobile-nav {
  position: fixed;
  height: 100vh;
  top: -100vh;
  right: 0;
  width: 100vw;
  overflow: auto;
  margin: 0;
  transition: 0.5s;
  background-color: #1b2942;
  z-index: 1600;
}

.mobile-nav-active .mobile-nav {
  right: 0;
  transition: 0.5s;
  top: 0;
}

.nav-btn-open,
.nav-btn-open-state {
  font-size: 2rem;
  color: #1b2942;
}

.mobile-nav-row {
  height: 75px;
  background-color: #ffffff;
}

.mobile-nav-menu-item {
  border-top: 1px solid #29b494;
}

.mobile-nav-menu-item:last-child {
  border-bottom: 0;
}

.mobile-menu-news-link .mobile-nav-triangle {
  color: #ffffff;
}
.mobile-menu-news-link:active, .mobile-menu-news-link:hover {
  background-color: #ffffff !important;
  color: #1b2942 !important;
}
.mobile-menu-news-link:active .mobile-nav-triangle, .mobile-menu-news-link:hover .mobile-nav-triangle {
  color: #1b2942 !important;
}

.submenu-link {
  color: #ffffff !important;
  text-transform: uppercase !important;
  text-decoration: none !important;
  padding: 0 16px;
}

#index-header-section {
  margin-top: 75px;
  padding: 50px 0;
  text-align: center;
}

#index-products-section .item-a {
  grid-area: spotlight1;
}
#index-products-section .item-b {
  grid-area: strategy1;
}
#index-products-section .item-c {
  grid-area: news1;
}
#index-products-section .item-d {
  grid-area: spotlight2;
}
#index-products-section .item-e {
  grid-area: spotlight3;
}
#index-products-section .item-f {
  grid-area: companies1;
}
#index-products-section .item-f lottie-player {
  width: 100%;
  height: auto;
}
#index-products-section .item-g {
  grid-area: people1;
}
#index-products-section .item-h {
  grid-area: spotlight4;
}
#index-products-section .item-j {
  grid-area: strategy2;
}
#index-products-section .item-j lottie-player {
  position: relative;
  z-index: 5;
}
#index-products-section .item-j .background-image {
  position: absolute;
  top: calc(1rem + 1px);
  left: 1rem;
  right: 1rem;
  bottom: 1rem;
  z-index: 0;
  background-image: url("/assets/cards/Large/impactvc-strategy-bkgd-02-L.jpg");
}
#index-products-section .container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-auto-flow: row;
  grid-template-areas: "spotlight1" "strategy1" "news1" "spotlight2" "spotlight3" "companies1" "people1" "spotlight4" "strategy2";
}
@media (min-width: 768px) {
  #index-products-section .container {
    grid-template-columns: 50% 50%;
    grid-template-areas: "spotlight1  strategy1" "spotlight2 spotlight2" "news1 people1" "spotlight3 people1" "spotlight4 spotlight4" "companies1  strategy2";
  }
}
@media (min-width: 992px) {
  #index-products-section .container {
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-areas: "spotlight1 spotlight1  strategy1 strategy1" "news1 news1  spotlight2 spotlight2" "spotlight3 spotlight3  spotlight3 spotlight3" "companies1 people1 spotlight4 spotlight4" "strategy2 strategy2 spotlight4 spotlight4";
  }
}
#index-products-section .container .item {
  align-items: stretch;
  padding: 1rem;
  height: 100%;
  position: relative;
}
#index-products-section .container .item .top-left-grid-lines {
  position: absolute;
  top: 0;
  left: 0;
  width: 35px;
  height: auto;
  z-index: 1;
}
#index-products-section .container .item .top-middle-grid-lines {
  position: absolute;
  top: 0;
  left: -1rem;
  width: 35px;
  height: auto;
  z-index: 1;
}
#index-products-section .container .item .top-right-grid-lines {
  position: absolute;
  top: 0;
  right: 0;
  width: 35px;
  height: auto;
  z-index: 1;
}
#index-products-section .container .item .middle-left-grid-lines {
  position: absolute;
  top: -1rem;
  left: 0;
  width: 35px;
  height: auto;
  z-index: 1;
}
#index-products-section .container .item .middle-middle-grid-lines {
  position: absolute;
  top: -1rem;
  right: -1rem;
  width: 35px;
  height: auto;
  z-index: 1;
}
#index-products-section .container .item .middle-right-grid-lines {
  position: absolute;
  top: -1rem;
  right: 0;
  width: 35px;
  height: auto;
  z-index: 1;
}
#index-products-section .container .item .bottom-left-grid-lines {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 35px;
  height: auto;
  z-index: 1;
}
#index-products-section .container .item .bottom-middle-grid-lines {
  position: absolute;
  bottom: 0;
  left: -1rem;
  width: 35px;
  height: auto;
  z-index: 1;
}
#index-products-section .container .item .bottom-right-grid-lines {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 35px;
  height: auto;
  z-index: 1;
}
#index-products-section .container .item .inner-text {
  position: absolute;
  top: 1rem;
  right: 1rem;
  left: 1rem;
  bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 15;
  color: #ffffff;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  font-size: 2rem !important;
  line-height: 2.25rem !important;
}
#index-products-section .container .item .regular {
  max-width: 450px;
}
#index-products-section .container .item .wide {
  max-width: 650px;
}
#index-products-section .container img {
  object-fit: cover;
  object-position: center center;
}

#site-cta-section {
  padding: 50px 0;
  margin: 0 1rem;
  color: black;
}
#site-cta-section .item-a {
  grid-area: text;
}
#site-cta-section .item-b {
  grid-area: button;
}
#site-cta-section .container {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: auto;
  grid-auto-flow: row;
  grid-template-areas: "text button";
}
#site-cta-section .container .item {
  padding: 1rem;
}
#site-cta-section .container .item .top-left-grid-lines {
  position: absolute;
  top: 0;
  left: 0;
  width: 35px;
  height: auto;
  z-index: 1;
}

/*# sourceMappingURL=site.css.map */
