.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

html, body {
  font-size: 16px;
  font-family: "Poppins", sans-serif !important;
  margin: 0;
  font-weight: 400;
  line-height: 30px;
  color: #171717;
  text-align: left;
  height: 100%;
  transition: 0.5s;
  scroll-behavior: smooth;
}

.container {
  padding: unset !important;
}

.site-container-1340 {
  margin: auto;
  position: relative;
  max-width: 1340px !important;
  width: 100%;
}

.site-container-1200 {
  margin: auto;
  position: relative;
  max-width: 1200px;
  width: 100%;
}

.site-container-992 {
  margin: auto;
  position: relative;
  max-width: 992px;
  width: 100%;
}

.container-fluid {
  width: 100%;
  padding-right: 15px !important;
  padding-left: 15px !important;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 992px) {
  .container-fluid {
    padding-right: 50px !important;
    padding-left: 50px !important;
  }
}

.ul-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul li {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  font-family: "Poppins", sans-serif !important;
}

ol li {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  font-family: "Poppins", sans-serif !important;
}

@media (min-width: 992px) {
  .col-lg-5col {
    flex: 0 0 auto !important;
    width: 20% !important;
  }
}

.mr-2 {
  margin-right: 0.25rem !important;
}

span.SubHead,
.secondary-text {
  color: #1b2942 !important;
}

.white-text {
  color: #ffffff !important;
}

.mid-black-text {
  color: #808080 !important;
}

.primary-text {
  color: #4d39e9 !important;
}

.red-text {
  color: red !important;
}

.primary-link {
  color: #4d39e9 !important;
  text-decoration: none;
  transition: 0.5s !important;
  font-weight: 700;
}
.primary-link:hover, .primary-link:active {
  color: #171717 !important;
}

.black-link {
  color: #171717 !important;
  text-decoration: none;
  transition: 0.5s !important;
  font-weight: 500;
  text-transform: uppercase;
}
.black-link:hover, .black-link:active {
  color: #4d39e9 !important;
}

.white-link {
  color: #ffffff !important;
  text-decoration: none;
  transition: 0.5s !important;
  font-weight: 500;
  text-transform: uppercase;
}
.white-link:hover, .white-link:active {
  color: #4d39e9 !important;
}

.primary-link-alt {
  color: #29b494 !important;
  text-decoration: none;
  transition: 0.5s !important;
  font-weight: 700;
}
.primary-link-alt:hover, .primary-link-alt:active {
  color: #1b2942 !important;
}

.secondary-link {
  color: #1b2942 !important;
  text-decoration: underline;
  transition: 0.5s !important;
  font-weight: 700;
}
.secondary-link:hover, .secondary-link:active {
  color: #29b494 !important;
}

.bold {
  font-weight: 500 !important;
}

.bolder {
  font-weight: 700 !important;
}

h1, h2, h3, h4, h5, h6 {
  color: unset;
}

h1,
.h1-heading {
  font-size: calc(18px * 3.111111111111111) !important;
  font-weight: 500;
  line-height: calc(30px * 2.133333333333333) !important;
  font-family: "Poppins", sans-serif !important;
  position: relative;
}
h1::before,
.h1-heading::before {
  content: "";
  height: 20px;
  width: 100%;
  position: absolute;
  top: -25px;
  left: 0px;
  text-align: center;
  right: 0;
  margin: 0 auto;
  background: repeating-linear-gradient(135deg, transparent, #4d39e9 1px, #4d39e9 1px, transparent 2px, transparent 8px);
}

.h1-home-heading {
  font-size: calc(18px * 2.444444444444444) !important;
  font-weight: 500;
  line-height: calc(30px * 1.933333333333333) !important;
  font-family: "Poppins", sans-serif !important;
}
.h1-home-heading:before {
  content: unset;
}
h2,
.h2-heading {
  font-size: calc(18px * 2.444444444444444) !important;
  font-weight: 500;
  line-height: calc(30px * 1.666666666666667) !important;
  font-family: "Poppins", sans-serif !important;
}
h3,
.h3-heading {
  font-size: calc(18px * 3) !important;
  font-weight: 500;
  line-height: calc(30px * 1.466666666666667) !important;
  font-family: "Poppins", sans-serif !important;
}
span.SubHead,
h4,
.h4-heading {
  font-size: calc(18px * 1.777777777777778) !important;
  font-weight: 500;
  line-height: calc(30px * 1.133333333333333) !important;
  font-family: "Poppins", sans-serif !important;
}
h5,
.h5-heading {
  font-size: calc(18px * 1.444444444444444) !important;
  font-weight: 500;
  line-height: calc(30px * 0.9333333333333333) !important;
  font-family: "Poppins", sans-serif !important;
}
h6,
.h6-heading {
  font-size: calc(18px * 1.111111111111111) !important;
  font-weight: 500;
  line-height: calc(30px * 0.73333333333333333) !important;
  font-family: "Poppins", sans-serif !important;
}
p {
  font-size: 18px !important;
  font-weight: 400;
  line-height: 30px !important;
  font-family: "Poppins", sans-serif !important;
}

.nav-link {
  font-size: calc(18px * 0.7777777777777778) !important;
  font-weight: 500;
  line-height: calc(30px * 0.5333333333333333) !important;
  font-family: "Poppins", sans-serif !important;
}
.copyright {
  font-size: calc(18px * 0.7777777777777778) !important;
  line-height: calc(30px * 0.5333333333333333) !important;
}

.tickerText {
  font-size: calc(18px * 0.6666666666666667) !important;
  line-height: calc(30px * 0.5333333333333333) !important;
}

.btn-size-lg {
  padding: 5px 20px;
}

.btn-size-sm {
  padding: 15px 60px;
}

.btn-primary {
  transition: 0.5s !important;
  cursor: pointer !important;
  background-color: #ffffff !important;
  font-weight: 500 !important;
  border-radius: 0px !important;
  border: 2px solid #ffffff !important;
  color: #4d39e9 !important;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  text-decoration: none !important;
  font-size: calc(18px * 1.444444444444444) !important;
  line-height: calc(30px * 0.9333333333333333) !important;
}
.btn-primary:hover, .btn-primary:active {
  background-color: transparent !important;
  border: 2px solid #ffffff !important;
  color: #ffffff !important;
}
.btn-primary:focus {
  box-shadow: none !important;
}

.btn-primary-alt {
  transition: 0.5s !important;
  cursor: pointer !important;
  background-color: transparent !important;
  font-weight: 500 !important;
  border-radius: 0px !important;
  border: 2px solid #808080 !important;
  color: #808080 !important;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  text-decoration: none !important;
  font-size: calc(18px * 1) !important;
  line-height: calc(30px * 1) !important;
}
.btn-primary-alt:hover, .btn-primary-alt:active {
  background-color: #4d39e9 !important;
  border: 2px solid #4d39e9 !important;
  color: #ffffff !important;
}
.btn-primary-alt:focus {
  box-shadow: none !important;
}

.btn-primary-alt.active {
  background-color: #4d39e9 !important;
  border: 2px solid #4d39e9 !important;
  color: #ffffff !important;
}

.btn-secondary {
  transition: 0.5s !important;
  cursor: pointer !important;
  background-color: #4d39e9 !important;
  font-weight: 500 !important;
  border-radius: 0px !important;
  border: 2px solid #4d39e9 !important;
  color: #ffffff !important;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  text-decoration: none !important;
  font-size: calc(18px * 1.444444444444444) !important;
  line-height: calc(30px * 0.9333333333333333) !important;
}
.btn-secondary:hover, .btn-secondary:active {
  background-color: transparent !important;
  border: 2px solid #4d39e9 !important;
  color: #4d39e9 !important;
}
.btn-secondary:focus {
  box-shadow: none !important;
}

.btn-secondary-alt {
  transition: 0.5s !important;
  cursor: pointer !important;
  background-color: #4d39e9 !important;
  font-weight: 600 !important;
  border-radius: 0px !important;
  border: 2px solid #1b2942 !important;
  color: #ffffff !important;
  line-height: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  text-transform: capitalize;
  text-decoration: none !important;
}
.btn-secondary-alt:hover, .btn-secondary-alt:active {
  background-color: #29b494 !important;
  border: 2px solid #29b494 !important;
  color: #ffffff !important;
}
.btn-secondary-alt:focus {
  box-shadow: none !important;
}

.btn-white {
  transition: 0.5s !important;
  cursor: pointer !important;
  background-color: #ffffff !important;
  font-weight: 600 !important;
  border-radius: 0px !important;
  border: 2px solid #ffffff !important;
  color: #4d39e9 !important;
  line-height: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  text-transform: capitalize;
  text-decoration: none !important;
}
.btn-white:hover, .btn-white:active {
  background-color: #4d39e9 !important;
  border: 2px solid #4d39e9 !important;
  color: #ffffff !important;
}
.btn-white:focus {
  box-shadow: none !important;
}

.btn-nav {
  transition: 0.5s !important;
  cursor: pointer !important;
  background-color: #4d39e9 !important;
  font-weight: 600 !important;
  border-radius: 0px !important;
  border: 2px solid #4d39e9 !important;
  color: #ffffff !important;
  line-height: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  text-transform: capitalize;
  text-decoration: none !important;
}
.btn-nav:hover, .btn-nav:active {
  background-color: #29b494 !important;
  border: 2px solid #29b494 !important;
  color: #ffffff !important;
}
.btn-nav:focus {
  box-shadow: none !important;
}

.z-15 {
  z-index: 15;
  position: relative;
}

.purple-bg {
  background-color: #4d39e9 !important;
}

.light-bg {
  background-color: #F4F4F4 !important;
}

.faq-bg {
  background-color: #e7f5f2 !important;
}

.pl-3 {
  padding-left: 1rem !important;
}

.border-bottom-mid {
  border-bottom: 1px solid #C1C1C1;
}

@media (min-width: 992px) {
  .d-lg-block {
    display: block !important;
  }
}

.main-navigation {
  z-index: 150;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  transition: 0.6s;
  background-color: #ffffff;
  align-items: center;
  flex-direction: row;
  width: 100%;
  max-width: 1243px;
  margin: 0 auto;
}
@media (min-width: 1340px) {
  .main-navigation {
    max-width: 1340px;
  }
}

.main-fixed {
  height: 75px;
  align-items: center;
  display: flex;
}

.main-social-nav img {
  transition: width 1s;
}

.main-navigation-scroll .main-nav-top-row {
  height: 50px;
}
.main-navigation-scroll .main-social-nav img {
  width: 100px;
}

.header-logo img,
.footer-logo img {
  width: 125px;
}

.states-header-logo {
  width: 100px !important;
}
.states-header-logo .cls-1 {
  fill: #29b494 !important;
  opacity: 1 !important;
}
.states-header-logo .cls-2 {
  fill: #1b2942 !important;
}

.main-nav-bottom-row {
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #C1C1C1;
}

.nav-menu-item {
  background: transparent;
  border: none;
  padding: 0 0.5rem;
  transition: 0.5s !important;
}
.nav-menu-item a {
  display: block;
  padding: 0 1rem;
  border: none;
  background: none;
  color: #171717;
  transition: 0.5s !important;
  font-weight: 400;
  text-transform: uppercase;
}
.nav-menu-item a:hover, .nav-menu-item a:active {
  color: #4d39e9;
}
.nav-menu-item a:hover:after, .nav-menu-item a:active:after {
  transform: scaleX(1);
}
.nav-menu-item a:after {
  display: block;
  content: "";
  border-bottom: solid 3px #4d39e9;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
  transform-origin: 100% 50%;
}
.nav-menu-item a.active {
  display: block;
  padding: 0 1rem;
  border: none;
  background: none;
  transition: 0.5s !important;
  font-weight: 400;
  text-transform: uppercase;
  color: #4d39e9;
}
.nav-menu-item a.active:after {
  display: block;
  content: "";
  border-bottom: solid 3px #4d39e9;
  transform: scaleX(1);
  transition: transform 250ms ease-in-out;
  transform-origin: 100% 50%;
}

.mobile-nav {
  position: fixed;
  height: 100vh;
  top: -100vh;
  right: 0;
  width: 100vw;
  overflow: auto;
  margin: 0;
  transition: 0.5s;
  background-color: #1b2942;
  z-index: 1600;
}

.mobile-nav-active .mobile-nav {
  right: 0;
  transition: 0.5s;
  top: 0;
}

.nav-btn-open,
.nav-btn-open-state {
  font-size: 2rem;
  color: #1b2942;
}

.mobile-nav-row {
  height: 75px;
  background-color: #ffffff;
}

.mobile-nav-menu-item {
  border-top: 1px solid #29b494;
}

.mobile-nav-menu-item:last-child {
  border-bottom: 0;
}

.mobile-menu-news-link .mobile-nav-triangle {
  color: #ffffff;
}
.mobile-menu-news-link:active, .mobile-menu-news-link:hover {
  background-color: #ffffff !important;
  color: #1b2942 !important;
}
.mobile-menu-news-link:active .mobile-nav-triangle, .mobile-menu-news-link:hover .mobile-nav-triangle {
  color: #1b2942 !important;
}

.submenu-link {
  color: #ffffff !important;
  text-transform: uppercase !important;
  text-decoration: none !important;
  padding: 0 16px;
}

footer {
  padding-top: 35px;
}
footer a {
  color: #171717;
  text-decoration: none;
  font-weight: 500;
}
footer a:hover, footer a:active {
  color: #4d39e9;
}
footer .footer-link {
  padding: 0 1rem;
  text-transform: uppercase;
}
footer .footer-link a {
  color: #171717;
  text-decoration: none;
  font-weight: 500;
}
footer .footer-link a:hover, footer .footer-link a:active {
  color: #4d39e9;
}
footer .footer-social {
  padding: 0 7.5px;
  text-transform: uppercase;
}
footer .footer-social a {
  color: #171717;
  text-decoration: none;
  font-weight: 500;
}
footer .footer-social a:hover, footer .footer-social a:active {
  color: #4d39e9;
}

.short-page {
  overflow: hidden;
}
@media (min-height: 750px) {
  .short-page .short-page-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.top-left-grid-lines {
  position: absolute;
  top: 0;
  left: 0;
  width: 35px !important;
  height: auto;
  z-index: 1;
  transition: 0.3s;
}

.top-middle-grid-lines {
  position: absolute;
  top: 0;
  left: -1rem;
  width: 35px !important;
  height: auto;
  z-index: 1;
  transition: 0.3s;
}

.top-middle-grid-lines-company {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 35px !important;
  height: auto;
  z-index: 1;
  transition: 0.3s;
}

.top-right-grid-lines {
  position: absolute;
  top: 0;
  right: 0;
  width: 35px !important;
  height: auto;
  z-index: 1;
  transition: 0.3s;
}

.middle-left-grid-lines {
  position: absolute;
  top: -1rem;
  left: 0;
  width: 35px !important;
  height: auto;
  z-index: 1;
  transition: 0.3s;
}

.middle-middle-grid-lines {
  position: absolute;
  top: -1rem;
  right: -1rem;
  width: 35px !important;
  height: auto;
  z-index: 1;
  transition: 0.3s;
}

.middle-right-grid-lines {
  position: absolute;
  top: -1rem;
  right: 0;
  width: 35px !important;
  height: auto;
  z-index: 1;
  transition: 0.3s;
}

.bottom-left-grid-lines {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 35px !important;
  height: auto;
  z-index: 1;
  transition: 0.3s;
}

.bottom-middle-grid-lines {
  position: absolute;
  bottom: 0;
  left: -1rem;
  width: 35px !important;
  height: auto;
  z-index: 1;
  transition: 0.3s;
}

.bottom-middle-grid-lines-company {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 35px !important;
  height: auto;
  z-index: 1;
  transition: 0.3s;
}

.bottom-right-grid-lines {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 35px !important;
  height: auto;
  z-index: 1;
  transition: 0.3s;
}

#index-header-section {
  margin-top: 75px;
  padding: 50px 0;
  text-align: center;
}

#index-products-section .item-a {
  grid-area: spotlight1;
}
#index-products-section .item-b {
  grid-area: strategy1;
}
#index-products-section .item-c {
  grid-area: news1;
}
#index-products-section .item-d {
  grid-area: spotlight2;
}
#index-products-section .item-e {
  grid-area: spotlight3;
}
#index-products-section .item-f {
  grid-area: companies1;
}
#index-products-section .item-f lottie-player {
  width: 100%;
  height: auto;
}
#index-products-section .item-g {
  grid-area: people1;
}
#index-products-section .item-h {
  grid-area: spotlight4;
}
#index-products-section .item-j {
  grid-area: strategy2;
}
#index-products-section .item-j .lottie-risk-anamation {
  position: relative;
  z-index: 5;
}
#index-products-section .item-j .background-image {
  position: absolute;
  top: calc(1rem + 1px);
  left: 1rem;
  right: 1rem;
  bottom: 1rem;
  z-index: 0;
  background-image: url("/assets/cards/Large/impactvc-strategy-bkgd-02-L.jpg");
}
#index-products-section .container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-auto-flow: row;
  grid-template-areas: "spotlight1" "strategy1" "news1" "spotlight2" "spotlight3" "companies1" "people1" "spotlight4" "strategy2";
}
@media (min-width: 768px) {
  #index-products-section .container {
    grid-template-columns: 50% 50%;
    grid-template-areas: "spotlight1  strategy1" "spotlight2 spotlight2" "news1 people1" "spotlight3 people1" "spotlight4 spotlight4" "companies1  strategy2";
  }
}
@media (min-width: 992px) {
  #index-products-section .container {
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-areas: "spotlight1 spotlight1  strategy1 strategy1" "news1 news1  spotlight2 spotlight2" "spotlight3 spotlight3  spotlight3 spotlight3" "companies1 people1 spotlight4 spotlight4" "strategy2 strategy2 spotlight4 spotlight4";
  }
}
#index-products-section .container .item {
  align-items: stretch;
  padding: 1rem;
  height: 100%;
  position: relative;
}
#index-products-section .container .item .inner-text {
  position: absolute;
  top: 1rem;
  right: 1rem;
  left: 1rem;
  bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 15;
  color: #ffffff;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}
#index-products-section .container .item .regular {
  max-width: 450px;
}
#index-products-section .container .item .wide {
  max-width: 650px;
}
#index-products-section .container img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

.index-stories-category {
  position: absolute;
  top: 2rem;
  right: 2rem;
  z-index: 5;
}

#site-cta-section {
  color: #ffffff;
  margin-top: 50px;
}
#site-cta-section .container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-auto-flow: row;
  grid-template-areas: "text button";
}
#site-cta-section .container .cta-padding {
  padding: 65px 35px 35px 35px;
}
#site-cta-section .container .item {
  align-items: stretch;
  padding: 2rem;
  height: 100%;
  position: relative;
}

#inner-page-title-section {
  margin-top: 135px;
  text-align: center;
}
#inner-page-title-section .h1-wrapepr {
  display: flex;
  justify-content: center;
}

#our-companies-section {
  padding-top: 50px;
}
#our-companies-section .company-toggle-row {
  border-top: 1px solid #808080;
  border-bottom: 1px solid #808080;
  padding: 0.25rem 0;
}
#our-companies-section .companies-toggle-button {
  color: #808080;
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  text-align: left;
}
#our-companies-section .companies-toggle-button svg {
  margin-right: 1rem;
}
#our-companies-section .active {
  color: #171717;
}
#our-companies-section .active svg {
  fill: #4d39e9;
  color: #4d39e9;
}

#our-companies-logo-section {
  margin-top: 50px;
}

#our-companies-spotlight-seection {
  margin-top: 2rem;
}

#our-team-selection-section {
  padding-top: 50px;
}
#our-team-selection-section .team-toggle-row {
  border-top: 1px solid #808080;
  border-bottom: 1px solid #808080;
  padding: 0.25rem 0;
}
#our-team-selection-section .team-toggle-button {
  color: #808080;
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  text-align: left;
}
#our-team-selection-section .team-toggle-button svg {
  margin-right: 1rem;
}
#our-team-selection-section .active {
  color: #171717;
}
#our-team-selection-section .active svg {
  fill: #4d39e9;
  color: #4d39e9;
}

.pressArticle {
  padding: 1rem 2rem !important;
  position: relative;
}
.pressArticle:not(:first-child) {
  margin-top: 1.5rem;
}

#inner-terms-pages-section a {
  color: #4d39e9;
  font-weight: 500;
  text-decoration: none;
}
#inner-terms-pages-section a:hover, #inner-terms-pages-section a:active {
  color: #171717;
}

.team-memeber-link {
  position: relative;
  display: flex;
}
.team-memeber-link .team-memeber-content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.inner-team-member-page {
  padding-top: 50px;
}
.inner-team-member-page a.social {
  font-size: 2rem;
  color: #171717;
  font-weight: 500;
  text-decoration: none;
}
.inner-team-member-page a.social:active, .inner-team-member-page a.social:hover {
  color: #4d39e9;
}
.inner-team-member-page a:not(.social) {
  color: #4d39e9;
  font-weight: 500;
  text-decoration: none;
}
.inner-team-member-page a:not(.social):active, .inner-team-member-page a:not(.social):hover {
  color: #171717;
}

.inner-investment-strategy-section {
  padding-top: 50px;
}
.inner-investment-strategy-section lottie-player {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
}

.form-input-style {
  border: 0 !important;
  border-bottom: 1px solid #171717 !important;
  border-radius: 0 !important;
}
.form-input-style:focus {
  box-shadow: unset !important;
}

.add-founders-btn {
  background: transparent;
  border: 0;
  color: #4d39e9;
}
.add-founders-btn:active, .add-founders-btn:hover {
  color: #171717;
}

#blog-nav-section {
  margin-top: 118px;
}

#stories-category-selection-section {
  padding-top: 50px;
}
#stories-category-selection-section .stories-toggle-row {
  border-top: 1px solid #808080;
  border-bottom: 1px solid #808080;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
#stories-category-selection-section .stories-category-link {
  color: #808080;
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  text-align: left;
  text-decoration: none;
}
#stories-category-selection-section .stories-category-link svg {
  margin-right: 1rem;
}
#stories-category-selection-section .active {
  color: #171717;
}
#stories-category-selection-section .active svg {
  fill: #4d39e9;
  color: #4d39e9;
}

.blog-roll-title {
  position: absolute;
  top: 2rem;
  right: 2rem;
  left: 2rem;
  bottom: 2rem;
  color: #ffffff;
  text-align: center;
  display: flex;
  align-items: center;
  z-index: 2;
}

.blog-category {
  position: absolute;
  top: 2rem;
  right: 2rem;
  z-index: 5;
}

.blog-page-content hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.blog-page-content h5, .blog-page-content h6 {
  margin-top: 2rem;
}
.blog-page-content a {
  color: #4d39e9 !important;
  text-decoration: none;
  transition: 0.5s !important;
  font-weight: 700;
}
.blog-page-content a:hover, .blog-page-content a:active {
  color: #171717 !important;
}

.subscribe-card {
  background-color: #4d39e9;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#impactTV-page-section iframe {
  width: 100%;
  height: 320px;
}

.sharer {
  position: fixed;
  left: 0;
  top: 20%;
}
.sharer .nav-item {
  width: 75px;
  height: 75px;
  background-color: #171717;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sharer .nav-item .nav-link {
  color: #ffffff;
  font-size: 1.5rem !important;
}
.sharer .nav-item:hover {
  background-color: #4d39e9;
}

.opactity-antimation {
  opacity: 0;
  transition: 0.8s;
}

.opactity-antimation-active {
  opacity: 1;
}/*# sourceMappingURL=site.css.map */