{{ define "main" }}
<div class="blog-page-section">
    {{ $page := . }}
    <section class="site-container-1340">
      <div class="row">
        <div class="col-12">


          <h1>{{ $page.Title }}</h1>

          <div class="py-3">
            {{ partial "authors.html" $page }}

            <p class="created primary-tex text-uppercase font-weight-bold mb-1">{{ $page.Date.Format (.Site.Params.dateFormat | default "January 2, 2006") }}</p>
          </div>

        </div>

      </div>
    </section>



    <section class="site-container-992">
      <div class="row">
        <div class="col-12">
          <img src="{{ $page.Params.image }}" alt="{{ $page.Params.alt }}" class="w-100">
        </div>
        <div class="col-12">
          <div class="blog-page-content">
            {{ $page.Content }}
          </div>
        </div>
        <div class="col-12">
          {{- with $page.Params.tags -}}
          <div class="tags my-3">
            {{- range . -}}
            <a class="badge mr-2" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">
              <i class="fas fa-tag mr-2"></i>{{ . }}
            </a>
            {{- end -}}
          </div>
          {{- end -}}

          {{ partial "sharer.html" . }}
        </div>
        <div class="col-12">
          {{ template "_internal/disqus.html" . }}
        </div>
        {{- if .Site.Params.commento.enable -}}
          <div class="col-12">
            <div id="commento"></div>
            <script src="{{ .Site.Params.commento.url }}"></script>
          </div>
        {{- end -}}

        </div>
      </div>
    </section>



    <section>
      <div class="site-container-1340">
        <div class="row">
          {{ partial "related.html" $page }}
        </div>
      </div>
    </section>





<script type="text/javascript">
  setTimeout(() =>{
    if( window.location.href.split('/blog/').length > 1) {
      var blogLinks = $('.blog-page-content').find('a')
      $.each(blogLinks, (index, value) => {
        if($(value).attr('href').split('http').length > 1 ) {
          $(value).attr('target', '_blank')
        }

        if($(value).attr('href').split('https').length > 1 ) {
          $(value).attr('target', '_blank')
        }
      })
    }
  }, 500)
</script>
</div>


{{ end }}
