{{ define "main" }}
<section id="inner-page-title-section">
    <div class="site-container-1340">
      <div class="row">
        <div class="col-12">
          <div class="h1-wrapepr">
            <h1>Our Companies</h1>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="our-companies-section">
    <div class="site-container-1340 company-toggle-row">
        <div class="row">
            <div class="col-12 px-3">
          <ul class="ul-reset d-flex align-items-center justify-content-between">
            <li><button id="allCompanies" class="h5-heading companies-toggle-button active" name="allCompanies"><i class="fal fa-plus" name="allCompanies"></i> All</button></li>
            <li><button id="deepTechCompanies" class="h5-heading companies-toggle-button" name="deepTechCompanies"><i class="fal fa-plus" name="deepTechCompanies"></i> Deep Tech</button></li>
            <li><button id="EnterpriseSasSCompanies" class="h5-heading companies-toggle-button" name="EnterpriseSasSCompanies"><i class="fal fa-plus" name="EnterpriseSasSCompanies"></i> Enterprise/SaaS</button></li>
            <li><button id="ConsumerCompanies" class="h5-heading companies-toggle-button" name="ConsumerCompanies"><i class="fal fa-plus" name="ConsumerCompanies"></i> Consumer</button></li>
            <li><button id="InfrastructureCompanies" class="h5-heading companies-toggle-button" name="InfrastructureCompanies"><i class="fal fa-plus" name="InfrastructureCompanies"></i> Infrastructure</button></li>
            <li><button id="ExitedCompanies" class="h5-heading companies-toggle-button" name="ExitedCompanies"><i class="fal fa-plus" name="ExitedCompanies"></i> Exited</button></li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section id="our-companies-logo-section">
    <div class="site-container-1340 container-1316-override">
      <lottie-player class="lottie-animation top-left-grid-lines"  src="https://lottie.host/f756b689-5736-47a9-a44b-8985c71be394/YlVA8YCC8K.json" background="transparent" speed="1"  autoplay></lottie-player>
      <lottie-player class="lottie-animation top-right-grid-lines" src="https://lottie.host/f041c641-c628-4550-8ed8-041306f1aabf/QuvfuHb5Fk.json" background="transparent" speed="1" autoplay></lottie-player>

      <lottie-player class="lottie-animation top-middle-grid-lines-company d-none d-lg-block"  src="https://lottie.host/02c9751d-d330-4706-b633-57c32b93c220/A9ZDgC7vmX.json" background="transparent" speed="1"  autoplay></lottie-player>
      <lottie-player class="lottie-animation bottom-middle-grid-lines-company d-none d-lg-block"  src="https://lottie.host/c3504887-05c7-4c22-9aed-80dddf4b0622/8Fk2OfPBEc.json" background="transparent" speed="1" autoplay></lottie-player>

      <lottie-player class="lottie-animation bottom-left-grid-lines" src="https://lottie.host/e484b534-6ae3-4528-942f-7604f581c7f9/IGo5pz2FTU.json" background="transparent" speed="1" autoplay></lottie-player>
      <lottie-player class="lottie-animation bottom-right-grid-lines " src="https://lottie.host/9ebd8ff4-837d-4697-88dd-dd38916943aa/U4sBxKrnzF.json" background="transparent" speed="1" autoplay></lottie-player>

      <div class="row py-5 opactity-antimation" id="companies-logos-row">

                  <div class="col-4 col-lg-2 py-4 text-center">
                    <img src="/assets/our-companies/logos/Cornami-logo.png" alt="Cornami logo">
                    <div class="text-center pt-3">
                      <p class="tickerText mb-0">Aquired By: Thomson  Reuters</p>
                      <p class="tickerText mb-0">NASDAQ: TRI</p>
                    </div>
                  </div>

                  <div class="col-4 col-lg-2 py-4 text-center">
                    <img src="/assets/our-companies/logos/nightingale-security-logo.png" alt="nightingale security logo">
                  </div>

                  <div class="col-4 col-lg-2 py-4 text-center">
                    <img src="/assets/our-companies/logos/advanced-farm-logo.png" alt="advanced farm logo">
                  </div>

                  <div class="col-4 col-lg-2 py-4 text-center">
                    <img src="/assets/our-companies/logos/socati-logo.png" alt="socati logo">
                  </div>

                  <div class="col-4 col-lg-2 py-4 text-center">
                    <img src="/assets/our-companies/logos/airlinq-logo.png" alt="airlinq logo">
                  </div>

                  <div class="col-4 col-lg-2 py-4 text-center">
                    <img src="/assets/our-companies/logos/Infinadeck-logo.png" alt="Infinadeck logo">
                  </div>

                  <div class="col-4 col-lg-2 py-4 text-center">
                    <img src="/assets/our-companies/logos/gigaio-logo.png" alt="gigaio logo">
                  </div>

                  <div class="col-4 col-lg-2 py-4 text-center">
                    <img src="/assets/our-companies/logos/upduo-logo.png" alt="upduo logo">
                  </div>

                  <div class="col-4 col-lg-2 py-4 text-center">
                    <img src="/assets/our-companies/logos/arnica-logo.png" alt="arnica logo">
                  </div>

                  <div class="col-4 col-lg-2  py-4 text-center">
                    <img src="/assets/our-companies/logos/pondera-logo.png" alt="pondera logo">
                  </div>

                  <div class="col-4 col-lg-2  py-4 text-center">
                    <img src="/assets/our-companies/logos/taskhuman-logo.png" alt="taskhuman logo">
                  </div>

                  <div class="col-4 col-lg-2  py-4 text-center">
                    <img src="/assets/our-companies/logos/healium-logo.png" alt="healium logo">
                  </div>

                  <div class="col-4 col-lg-2  py-4 text-center">
                    <img src="/assets/our-companies/logos/goschoolbox-logo.png" alt="goschoolbox logo">
                  </div>

                  <div class="col-4 col-lg-2  py-4 text-center">
                    <img src="/assets/our-companies/logos/ascent-logo.png" alt="ascent logo">
                  </div>

                  <div class="col-4 col-lg-2  py-4 text-center">
                    <img src="/assets/our-companies/logos/bondcliq-logo.png" alt="bondcliq logo">
                  </div>

                  <div class="col-4 col-lg-2  py-4 text-center">
                    <img src="/assets/our-companies/logos/capconnect-logo.png" alt="capconnect logo">
                  </div>

                  <div class="col-4 col-lg-2  py-4 text-center">
                    <img src="/assets/our-companies/logos/revionics-logo.png" alt="revionics logo">
                  </div>

                  <div class="col-4 col-lg-2  py-4 text-center">
                    <img src="/assets/our-companies/logos/am-logo.png" alt="am logo">
                  </div>

                  <div class="col-4 col-lg-2 py-4 text-center">
                    <img src="/assets/our-companies/logos/gatekeeper-logo.png" alt="/gatekeeper logo">
                  </div>

                  <div class="col-4 col-lg-2 py-4 text-center">
                    <img src="/assets/our-companies/logos/pitch-logo.png" alt="pitch logo">
                  </div>

                  <div class="col-4 col-lg-2 py-4 text-center">
                    <img src="/assets/our-companies/logos/280first-logo.png" alt="280first logo">
                  </div>

                  <div class="col-4 col-lg-2 py-4 text-center">
                    <img src="/assets/our-companies/logos/Geeq-logo.png" alt="Geeq logo">
                  </div>

                  <div class="col-4 col-lg-2 py-4 text-center">
                    <img src="/assets/our-companies/logos/scaeva-logo.png" alt="scaeva logo">
                  </div>

                  <div class="col-4 col-lg-2 py-4 text-center">
                    <img src="/assets/our-companies/logos/cirrus-md-logo.png" alt="cirrus logo">
                  </div>

                  <div class="col-4 col-lg-2 py-4 text-center">
                    <img src="/assets/our-companies/logos/syntegra-logo.png" alt="syntegra logo">
                  </div>

                  <div class="col-4 col-lg-2 py-4 text-center">
                    <img src="/assets/our-companies/logos/crowdsmart-logo.png" alt="crowdsmart logo">
                  </div>

                  <div class="col-4 col-lg-2 py-4 text-center">
                    <img src="/assets/our-companies/logos/airlinq-logo.png" alt="airlinq logo">
                  </div>

                  <div class="col-4 col-lg-2 py-4 text-center">
                    <img src="/assets/our-companies/logos/gigaforce-logo.png" alt="gigaforce logo">
                  </div>

                  <div class="col-4 col-lg-2 py-4 text-center">
                    <img src="/assets/our-companies/logos/parkour-logo.png" alt="parkour logo">
                  </div>

                  <div class="col-4 col-lg-2 py-4 text-center">
                    <img src="/assets/our-companies/logos/opscruise-logo.png" alt="opscruise logo">
                  </div>

                  <div class="col-4 col-lg-2 py-4 text-center">
                    <img src="/assets/our-companies/logos/scoredata-logo.png" alt="scoredata logo">
                  </div>

                  <div class="col-4 col-lg-2 py-4 text-center">
                    <img src="/assets/our-companies/logos/pondera-logo.png" alt="pondera logo">
                  </div>

                  <div class="col-4 col-lg-2 py-4 text-center">
                    <img src="/assets/our-companies/logos/nightingale-security-logo.png" alt="nightingale-security logo">
                  </div>

                  <div class="col-4 col-lg-2 py-4 text-center">
                    <img src="/assets/our-companies/logos/revionics-logo.png" alt="revionics logo">
                  </div>

                  <div class="col-4 col-lg-2 py-4 text-center">
                    <img src="/assets/our-companies/logos/socati-logo.png" alt="socati logo">
                  </div>

                  <div class="col-4 col-lg-2 py-4 text-center">
                    <img src="/assets/our-companies/logos/am-logo.png" alt="am logo">
                  </div>
                  </div>
    </div>
  </section>



  <section id="our-companies-spotlight-seection">
    <div class="site-container-1340">

      <div class="row text-center">
        <div class="col-12">
            <h4><i class="far fa-plus mr-2 primary-text opactity-antimation"></i> Spotlight</h4>
        </div>
      </div>
      <div class="row mt-5">
        {{ range last 6 (where .Site.RegularPages "Type" "stories")  }}


        <div class="col-12 col-md-6 mt-4">
            <div class="p-3 position-relative">
                    <lottie-player class="lottie-animation top-left-grid-lines"  src="https://lottie.host/f756b689-5736-47a9-a44b-8985c71be394/YlVA8YCC8K.json" background="transparent" speed="1"  ></lottie-player>
                    <lottie-player class="lottie-animation top-right-grid-lines" src="https://lottie.host/f041c641-c628-4550-8ed8-041306f1aabf/QuvfuHb5Fk.json" background="transparent" speed="1" ></lottie-player>

                    <lottie-player class="lottie-animation bottom-left-grid-lines" src="https://lottie.host/e484b534-6ae3-4528-942f-7604f581c7f9/IGo5pz2FTU.json" background="transparent" speed="1" ></lottie-player>
                    <lottie-player class="lottie-animation bottom-right-grid-lines " src="https://lottie.host/9ebd8ff4-837d-4697-88dd-dd38916943aa/U4sBxKrnzF.json" background="transparent" speed="1" ></lottie-player>


                    <a href="/stories/{{ .Slug }}" class="position-relative">
                     <img src="{{ .Params.ThumbImage }}" alt="{{ .Params.Alt }}" class="w-100 opactity-antimation">
                    </a>

                    <div class="blog-category">
                        {{ with .Params.tags }}
                        {{ range . }}
                        <a class="white-link mr-2" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">
                          <i class="far fa-plus mr-2"></i>{{ . }}
                        </a>
                        {{ end }}
                        </p>
                     {{ end }}
                      </div>



                    <a href="/stories/{{ .Slug }}" >
                    <div class="blog-roll-title">
                        <h5 class="w-75 mx-auto">{{.Title }}</h5>
                    </div>
                    </a>


            </div>
        </div>

        {{ end}}
      </div>
    </div>
  </section>

  <script>
    setTimeout(() =>{
      $(() => {
        let deepTech = [
          {
            logo: '/assets/our-companies/logos/Cornami-logo.png',
            aquired_by: 'Thomson  Reuters',
            ticker: 'TRI',
            alt: 'Cornami logo',
          },
          {
            logo: '/assets/our-companies/logos/nightingale-security-logo.png',
            aquired_by: '',
            ticker: '',
            alt: 'nightingale security logo'
          },
          {
            logo: '/assets/our-companies/logos/advanced-farm-logo.png',
            aquired_by: '',
            ticker: '',
            alt: 'advanced farm logo'
          },
          {
            logo: '/assets/our-companies/logos/socati-logo.png',
            aquired_by: '',
            ticker: '',
            alt: 'socati logo'
          },
          {
            logo: '/assets/our-companies/logos/airlinq-logo.png',
            aquired_by: '',
            ticker: '',
            alt: 'airlinq logo'
          },
          {
            logo: '/assets/our-companies/logos/Infinadeck-logo.png',
            aquired_by: '',
            ticker: '',
            alt: 'Infinadeck logo'
          },
          {
            logo: '/assets/our-companies/logos/gigaio-logo.png',
            aquired_by: '',
            ticker: '',
            alt: 'gigaio logo'
          },
          {
            logo: '/assets/our-companies/logos/upduo-logo.png',
            aquired_by: '',
            ticker: '',
            alt: 'upduo logo'
          },
          {
            logo: '/assets/our-companies/logos/arnica-logo.png',
            aquired_by: '',
            ticker: '',
            alt: 'arnica logo'
          }

        ]

        let enterpriseSasSCompanies = [
          {
            logo: '/assets/our-companies/logos/pondera-logo.png',
            aquired_by: '',
            ticker: '',
            alt: 'pondera logo',
          },
          {
            logo: '/assets/our-companies/logos/taskhuman-logo.png',
            aquired_by: '',
            ticker: '',
            alt: 'taskhuman logo',
          },
          {
            logo: '/assets/our-companies/logos/healium-logo.png',
            aquired_by: '',
            ticker: '',
            alt: 'healium logo',
          },
          {
            logo: '/assets/our-companies/logos/goschoolbox-logo.png',
            aquired_by: '',
            ticker: '',
            alt: 'goschoolbox logo',
          },
          {
            logo: '/assets/our-companies/logos/ascent-logo.png',
            aquired_by: '',
            ticker: '',
            alt: 'ascent logo',
          },
          {
            logo: '/assets/our-companies/logos/bondcliq-logo.png',
            aquired_by: '',
            ticker: '',
            alt: 'bondcliq logo',
          },
          {
            logo: '/assets/our-companies/logos/capconnect-logo.png',
            aquired_by: '',
            ticker: '',
            alt: 'capconnect logo',
          },
          {
            logo: '/assets/our-companies/logos/revionics-logo.png',
            aquired_by: '',
            ticker: '',
            alt: 'revionics logo',
          },
          {
            logo: '/assets/our-companies/logos/am-logo.png',
            aquired_by: '',
            ticker: '',
            alt: 'am logo',
          }
        ]

        let consumerCompanies = [
          {
            logo: '/assets/our-companies/logos/gatekeeper-logo.png',
            aquired_by: '',
            ticker: '',
            alt: '/gatekeeper logo',
          },
          {
            logo: '/assets/our-companies/logos/pitch-logo.png',
            aquired_by: '',
            ticker: '',
            alt: 'pitch logo',
          },
          {
            logo: '/assets/our-companies/logos/280first-logo.png',
            aquired_by: '',
            ticker: '',
            alt: '280first logo',
          },
          {
            logo: '/assets/our-companies/logos/Geeq-logo.png',
            aquired_by: '',
            ticker: '',
            alt: 'Geeq logo',
          },
          {
            logo: '/assets/our-companies/logos/scaeva-logo.png',
            aquired_by: '',
            ticker: '',
            alt: 'scaeva logo',
          }

        ]

        let infrastructureCompanies = [
          {
            logo: '/assets/our-companies/logos/cirrus-md-logo.png',
            aquired_by: '',
            ticker: '',
            alt: 'cirrus logo',
          },
          {
            logo: '/assets/our-companies/logos/syntegra-logo.png',
            aquired_by: '',
            ticker: '',
            alt: 'syntegra logo',
          },
          {
            logo: '/assets/our-companies/logos/crowdsmart-logo.png',
            aquired_by: '',
            ticker: '',
            alt: 'crowdsmart logo',
          },
          {
            logo: '/assets/our-companies/logos/airlinq-logo.png',
            aquired_by: '',
            ticker: '',
            alt: 'airlinq logo',
          },
          {
            logo: '/assets/our-companies/logos/gigaforce-logo.png',
            aquired_by: '',
            ticker: '',
            alt: 'gigaforce logo',
          },
          {
            logo: '/assets/our-companies/logos/parkour-logo.png',
            aquired_by: '',
            ticker: '',
            alt: 'parkour logo',
          },
          {
            logo: '/assets/our-companies/logos/opscruise-logo.png',
            aquired_by: '',
            ticker: '',
            alt: 'opscruise logo',
          },
          {
            logo: '/assets/our-companies/logos/scoredata-logo.png',
            aquired_by: '',
            ticker: '',
            alt: 'scoredata logo',
          }

        ]

        let exitedCompanies = [
          {
            logo: '/assets/our-companies/logos/pondera-logo.png',
            aquired_by: '',
            ticker: '',
            alt: 'pondera logo',
          },
          {
            logo: '/assets/our-companies/logos/nightingale-security-logo.png',
            aquired_by: '',
            ticker: '',
            alt: 'nightingale-security logo',
          },
          {
            logo: '/assets/our-companies/logos/revionics-logo.png',
            aquired_by: '',
            ticker: '',
            alt: 'revionics logo',
          },
          {
            logo: '/assets/our-companies/logos/socati-logo.png',
            aquired_by: '',
            ticker: '',
            alt: 'socati logo',
          },
          {
            logo: '/assets/our-companies/logos/am-logo.png',
            aquired_by: '',
            ticker: '',
            alt: 'am logo',
          }
        ]

        // let loadCompanies = () => {
        //   deepTech.forEach((val, inx) => {
        //       if(!val.aquired_by || !val.ticker) {
        //         $('#companies-logos-row').append(`
        //         <div class="col-4 col-lg-2 py-4 text-center">
        //           <img src="${val.logo}" alt="${val.alt}">
        //         </div>
        //         `)
        //
        //       } else {
        //         $('#companies-logos-row').append(`
        //         <div class="col-4 col-lg-2 py-4 text-center">
        //           <img src="${val.logo}" alt="${val.alt}">
        //           <div class="text-center pt-3">
        //             <p class="tickerText mb-0">Aquired By: ${val.aquired_by}</p>
        //             <p class="tickerText mb-0">NASDAQ: ${val.ticker}</p>
        //           </div>
        //         </div>
        //         `)
        //       }
        //
        //
        //   })
        //   enterpriseSasSCompanies.forEach((val, inx) => {
        //       if(!val.aquired_by || !val.ticker) {
        //         $('#companies-logos-row').append(`
        //         <div class="col-4 col-lg-2  py-4 text-center">
        //           <img src="${val.logo}" alt="${val.alt}">
        //         </div>
        //         `)
        //
        //       } else {
        //         $('#companies-logos-row').append(`
        //         <div class="col-4 col-lg-2  py-4 text-center">
        //           <img src="${val.logo}" alt="${val.alt}">
        //           <div class="text-center pt-3">
        //             <p class="tickerText mb-0">Aquired By: ${val.aquired_by}</p>
        //             <p class="tickerText mb-0">NASDAQ: ${val.ticker}</p>
        //           </div>
        //         </div>
        //         `)
        //       }
        //
        //
        //   })
        //   consumerCompanies.forEach((val, inx) => {
        //       if(!val.aquired_by || !val.ticker) {
        //         $('#companies-logos-row').append(`
        //         <div class="col-4 col-lg-2 py-4 text-center">
        //           <img src="${val.logo}" alt="${val.alt}">
        //         </div>
        //         `)
        //
        //       } else {
        //         $('#companies-logos-row').append(`
        //         <div class="col-4 col-lg-2 py-4 text-center">
        //           <img src="${val.logo}" alt="${val.alt}">
        //           <div class="text-center pt-3">
        //             <p class="tickerText mb-0">Aquired By: ${val.aquired_by}</p>
        //             <p class="tickerText mb-0">NASDAQ: ${val.ticker}</p>
        //           </div>
        //         </div>
        //         `)
        //       }
        //
        //
        //   })
        //   infrastructureCompanies.forEach((val, inx) => {
        //       if(!val.aquired_by || !val.ticker) {
        //         $('#companies-logos-row').append(`
        //         <div class="col-4 col-lg-2 py-4 text-center">
        //           <img src="${val.logo}" alt="${val.alt}">
        //         </div>
        //         `)
        //
        //       } else {
        //         $('#companies-logos-row').append(`
        //         <div class="col-4 col-lg-2 py-4 text-center">
        //           <img src="${val.logo}" alt="${val.alt}">
        //           <div class="text-center pt-3">
        //             <p class="tickerText mb-0">Aquired By: ${val.aquired_by}</p>
        //             <p class="tickerText mb-0">NASDAQ: ${val.ticker}</p>
        //           </div>
        //         </div>
        //         `)
        //       }
        //
        //
        //   })
        //   exitedCompanies.forEach((val, inx) => {
        //       if(!val.aquired_by || !val.ticker) {
        //         $('#companies-logos-row').append(`
        //         <div class="col-4 col-lg-2 py-4 text-center">
        //           <img src="${val.logo}" alt="${val.alt}">
        //         </div>
        //         `)
        //
        //       } else {
        //         $('#companies-logos-row').append(`
        //         <div class="col-4 col-lg-2 py-4 text-center">
        //           <img src="${val.logo}" alt="${val.alt}">
        //           <div class="text-center pt-3">
        //             <p class="tickerText mb-0">Aquired By: ${val.aquired_by}</p>
        //             <p class="tickerText mb-0">NASDAQ: ${val.ticker}</p>
        //           </div>
        //         </div>
        //         `)
        //       }
        //
        //
        //   })
        // }

        $('#allCompanies').on('click', e => {
          e.preventDefault();
          $('#companies-logos-row').empty();
          loadCompanies();
        })

        $('#deepTechCompanies').on('click', e => {
          e.preventDefault();
          $('#companies-logos-row').empty();
          deepTech.forEach((val, inx) => {
              if(!val.aquired_by || !val.ticker) {
                $('#companies-logos-row').append(`
                <div class="col-4 col-lg-2 py-4 text-center">
                  <img src="${val.logo}" alt="${val.alt}">
                </div>
                `)

              } else {
                $('#companies-logos-row').append(`
                <div class="col-4 col-lg-2 py-4 text-center">
                  <img src="${val.logo}" alt="${val.alt}">
                  <div class="text-center pt-3">
                    <p class="tickerText mb-0">Aquired By: ${val.aquired_by}</p>
                    <p class="tickerText mb-0">NASDAQ: ${val.ticker}</p>
                  </div>
                </div>
                `)
              }


          });
        })

        $('#EnterpriseSasSCompanies').on('click', e => {
          e.preventDefault();
          $('#companies-logos-row').empty();
          enterpriseSasSCompanies.forEach((val, inx) => {
              if(!val.aquired_by || !val.ticker) {
                $('#companies-logos-row').append(`
                <div class="col-4 col-lg-2 py-4 text-center">
                  <img src="${val.logo}" alt="${val.alt}">
                </div>
                `)

              } else {
                $('#companies-logos-row').append(`
                <div class="col-4 col-lg-2 py-4 text-center">
                  <img src="${val.logo}" alt="${val.alt}">
                  <div class="text-center pt-3">
                    <p class="tickerText mb-0">Aquired By: ${val.aquired_by}</p>
                    <p class="tickerText mb-0">NASDAQ: ${val.ticker}</p>
                  </div>
                </div>
                `)
              }


          });
        })

        $('#ConsumerCompanies').on('click', e => {
          e.preventDefault();
          $('#companies-logos-row').empty();
          consumerCompanies.forEach((val, inx) => {
              if(!val.aquired_by || !val.ticker) {
                $('#companies-logos-row').append(`
                <div class="col-4 col-lg-2 py-4 text-center">
                  <img src="${val.logo}" alt="${val.alt}">
                </div>
                `)

              } else {
                $('#companies-logos-row').append(`
                <div class="col-4 col-lg-2 py-4 text-center">
                  <img src="${val.logo}" alt="${val.alt}">
                  <div class="text-center pt-3">
                    <p class="tickerText mb-0">Aquired By: ${val.aquired_by}</p>
                    <p class="tickerText mb-0">NASDAQ: ${val.ticker}</p>
                  </div>
                </div>
                `)
              }


          });
        })

        $('#InfrastructureCompanies').on('click', e => {
          e.preventDefault();
          $('#companies-logos-row').empty();
          infrastructureCompanies.forEach((val, inx) => {
              if(!val.aquired_by || !val.ticker) {
                $('#companies-logos-row').append(`
                <div class="col-4 col-lg-2 py-4 text-center">
                  <img src="${val.logo}" alt="${val.alt}">
                </div>
                `)

              } else {
                $('#companies-logos-row').append(`
                <div class="col-4 col-lg-2 py-4 text-center">
                  <img src="${val.logo}" alt="${val.alt}">
                  <div class="text-center pt-3">
                    <p class="tickerText mb-0">Aquired By: ${val.aquired_by}</p>
                    <p class="tickerText mb-0">NASDAQ: ${val.ticker}</p>
                  </div>
                </div>
                `)
              }


          });
        })

        $('#ExitedCompanies').on('click', e => {
          e.preventDefault();
          $('#companies-logos-row').empty();
          exitedCompanies.forEach((val, inx) => {
              if(!val.aquired_by || !val.ticker) {
                $('#companies-logos-row').append(`
                <div class="col-4 col-lg-2 py-4 text-center">
                  <img src="${val.logo}" alt="${val.alt}">
                </div>
                `)

              } else {
                $('#companies-logos-row').append(`
                <div class="col-4 col-lg-2 py-4 text-center">
                  <img src="${val.logo}" alt="${val.alt}">
                  <div class="text-center pt-3">
                    <p class="tickerText mb-0">Aquired By: ${val.aquired_by}</p>
                    <p class="tickerText mb-0">NASDAQ: ${val.ticker}</p>
                  </div>
                </div>
                `)
              }


          });
        })

        $('.companies-toggle-button').on('click', e => {
          e.preventDefault();
          $('.companies-toggle-button').removeClass('active')
          let id = $(e.target).attr('name')
          $(`#${id}`).addClass('active')
        })


        //runner
        // loadCompanies()
      })
    },500)
  </script>
  {{ end }}
