{{ define "main" }}

  <section id="inner-page-title-section">
    <div class="site-container-1340">
      <div class="row">
        <div class="col-12">
          <div class="h1-wrapepr">
            <h1>Stories</h1>
            _default
          </div>
        </div>
      </div>
    </div>
  </section>


    <div class="row row-cols-1 row-cols-lg-3">
        {{ range .Pages }}
            <div class="col mb-3">
                {{ .Render "card" }}
            </div>
        {{ end }}
    </div>

{{ end }}
