{{ define "main"}}
<section id="inner-page-title-section">
  <div class="site-container-1340">
    <div class="row">
      <div class="col-12">
        <div class="h1-wrapepr">
          <h1>404</h1>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="mt-5">
  <div class="site-container-1340">
    <div class="row text-center pt-5">
      <div class="col-12">
        <p>The page you are looking for does not exist</p>
        <div class="py-3">
            <a href="/" class="btn-secondary btn-size-sm">Home</a>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
