
<a href="#main-page-content-area" class="sr-only">Skip to main content</a>

<div >
   <nav class="d-flex d-xl-none w-100 menu-mobile-border">
        <div class="site-container-1340 container-1316-override">
            <div class="row justify-content-between align-items-center mobile-nav-row d-xl-none">
                <div class="col-auto">
                    <a href="/" class="header-logo">
                        <img src="/assets/brand/ImpactVC-logo.png" alt="">
                        <p class="sr-only">Impact VC</p>
                    </a>
                </div>

                <div class="col-auto">
                    <i class="fas fa-bars nav-menu-toggle-btn nav-btn-open" aria-hidden="true"></i>
                    <i class="far fa-times nav-menu-toggle-btn nav-btn-close" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </nav>

    <nav class="d-none d-xl-flex w-100 main-navigation">
        <div class="site-container-1340  border-bottom-mid main-fixed">
            <div class="row justify-content-between align-items-center w-100">
                <div class="col">
                 <a href="/" class="header-logo">
                  <img src="/assets/brand/ImpactVC-logo.png" alt="">
                     <p class="sr-only">Impact VC</p>
                 </a>
                </div>

                <div class="col-auto">
                  <ul class="ul-reset d-flex justify-content-end align-items-center">
                    <li class="nav-menu-item">
                      <a href="/our-companies" class="nav-link" id="nav-our-company">Our Companies</a>
                    </li>
                    <li class="nav-menu-item">
                      <a href="/our-team" class="nav-link"  id="nav-our-team">Our Team</a>
                    </li>

                    <li class="nav-menu-item">
                      <a href="/investment-strategy" class="nav-link"  id="nav-investment-strategy">Investment Strategy</a>
                    </li>

                    <li class="nav-menu-item">
                      <a href="/press" class="nav-link"  id="nav-press">Press</a>
                    </li>

                    <li class="nav-menu-item">
                      <a href="/stories" class="nav-link"  id="nav-stories">Stories</a>
                    </li>
                  </ul>

                </div>

            </div>
        </div>


        <a href="#page-main-content" class="sr-only">Skip to main content</a>
    </nav>

</div>



<div id="mobile-nav" class="mobile-nav">
  <div class="container h-100">

    <div class="row py-3 ">
      <div class="col-12 d-flex flex-column  justify-content-between px-0">
        <ul class="ul-reset mobile-ul mobile-nav-products-title">



        <li class="mobile-nav-menu-item">
            <a href="/our-companies" class="d-flex justify-content-between submenu-link w-100 py-3 align-items-center mobile-menu-news-link" role="button">
              <div class="d-flex align-items-center">
                <span class="mobile-nav-menu-page h5-heading">
                  Our Companies
                </span>
              </div>
              <span class="mobile-nav-triangle invisible">
                <i class="fas fa-chevron-right" aria-hidden="true"></i>
              </span>
            </a>
          </li>

        <li class="mobile-nav-menu-item">
            <a href="/our-team" class="d-flex justify-content-between submenu-link w-100 py-3 align-items-center mobile-menu-news-link" role="button">
              <div class="d-flex align-items-center">
                <span class="mobile-nav-menu-page h5-heading">
                 Our Team
                </span>
              </div>
              <span class="mobile-nav-triangle white-text invisible ">
                <i class="fas fa-chevron-right" aria-hidden="true"></i>
              </span>
            </a>
        </li>

        <li class="mobile-nav-menu-item">
            <a href="/investment-strategy" class="d-flex justify-content-between submenu-link w-100 py-3 align-items-center mobile-menu-news-link" role="button">
              <div class="d-flex align-items-center">
                <span class="mobile-nav-menu-page h5-heading">
                  Investment Strategy
                </span>
              </div>
              <span class="mobile-nav-triangle white-text invisible ">
                <i class="fas fa-chevron-right" aria-hidden="true"></i>
              </span>
            </a>
        </li>

        <li class="mobile-nav-menu-item">
            <a href="/press" class="d-flex justify-content-between submenu-link w-100 py-3 align-items-center mobile-menu-news-link" role="button">
              <div class="d-flex align-items-center">
                <span class="mobile-nav-menu-page h5-heading">
                  Press
                </span>
              </div>
              <span class="mobile-nav-triangle white-text invisible ">
                <i class="fas fa-chevron-right" aria-hidden="true"></i>
              </span>
            </a>
          </li>

          <li class="mobile-nav-menu-item">
              <a href="/stories" class="d-flex justify-content-between submenu-link w-100 py-3 align-items-center mobile-menu-news-link" role="button">
                <div class="d-flex align-items-center">
                  <span class="mobile-nav-menu-page h5-heading">
                    Stories
                  </span>
                </div>
                <span class="mobile-nav-triangle white-text invisible ">
                  <i class="fas fa-chevron-right" aria-hidden="true"></i>
                </span>
              </a>
            </li>

           <li class="mobile-nav-menu-item">
              <a href="/connect" class="d-flex justify-content-between submenu-link w-100 py-3 align-items-center mobile-menu-news-link" role="button">
                <div class="d-flex align-items-center">
                  <span class="mobile-nav-menu-page h5-heading">
                    Connect
                  </span>
                </div>
                <span class="mobile-nav-triangle white-text invisible ">
                  <i class="fas fa-chevron-right" aria-hidden="true"></i>
                </span>
              </a>
            </li>



            <li class="mobile-nav-menu-item">
            <button type="button" class="d-flex justify-content-between submenu-link w-100 py-3 align-items-center mobile-menu-news-link" role="button" id="privacy-submenu-mobile">
              <div class="d-flex align-items-center">
                <span class="mobile-nav-menu-page h5-heading">
                  Privacy & More
                </span>
              </div>
              <span class="mobile-nav-triangle ">
                <i class="fas fa-chevron-right" ></i>
              </span>
            </button>
          </li>

        </ul>

        <div class="mobile-menu-cta">
          <a href="/connect" class="btn-secondary btn-size-lg w-100">Connect</a>
        </div>
      </div>


    </div>
  </div>
</div>

<div id="privacy-nav" class="privacy-nav">
  <div class="container h-100">


    <div class="row py-3">
      <div class="col-12">
        <button type="button" id="removePrivacyNav" class="h5-heading">
          <i class="far fa-chevron-left"></i> Back
        </button>
      </div>
    </div>
    <div class="row  ">
      <div class="col-12 d-flex flex-column  justify-content-between px-0">
        <ul class="ul-reset mobile-ul mobile-nav-products-title">



        <li class="mobile-nav-menu-item">
            <a href="/privacy" class="d-flex justify-content-between submenu-link w-100 py-3 align-items-center mobile-menu-news-link" role="button">
              <div class="d-flex align-items-center">
                <span class="mobile-nav-menu-page h5-heading">
                  privacy
                </span>
              </div>
              <span class="mobile-nav-triangle invisible">
                <i class="fas fa-chevron-right" aria-hidden="true"></i>
              </span>
            </a>
          </li>

        <li class="mobile-nav-menu-item">
            <a href="/terms" class="d-flex justify-content-between submenu-link w-100 py-3 align-items-center mobile-menu-news-link" role="button">
              <div class="d-flex align-items-center">
                <span class="mobile-nav-menu-page h5-heading">
                 terms
                </span>
              </div>
              <span class="mobile-nav-triangle white-text invisible ">
                <i class="fas fa-chevron-right" aria-hidden="true"></i>
              </span>
            </a>
        </li>

        <li class="mobile-nav-menu-item">
            <a href="/accessibility" class="d-flex justify-content-between submenu-link w-100 py-3 align-items-center mobile-menu-news-link" role="button">
              <div class="d-flex align-items-center">
                <span class="mobile-nav-menu-page h5-heading">
                  accessibility
                </span>
              </div>
              <span class="mobile-nav-triangle white-text invisible ">
                <i class="fas fa-chevron-right" aria-hidden="true"></i>
              </span>
            </a>
        </li>
        </ul>

        <div class="mobile-menu-cta">
          <a href="/connect" class="btn-secondary btn-size-lg w-100">Connect</a>
        </div>
      </div>


    </div>
  </div>
</div>
