
<a href="#main-page-content-area" class="sr-only">Skip to main content</a>

<div >
   <nav class="d-flex  d-xl-none w-100">
        <div class="site-container-1340 container-1340-override">
            <div class="row justify-content-between align-items-center mobile-nav-row d-xl-none">
                <div class="col-auto">
                    <a href="/" class="header-logo">
                        <img src="/assets/brand/ImpactVC-logo.png" alt="">
                        <p class="sr-only">Impact VC</p>
                    </a>
                </div>

                <div class="col-auto">
                    <i class="fas fa-bars nav-menu-toggle-btn nav-btn-open" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </nav>

    <nav class="d-none d-xl-flex w-100 ">
        <div class="site-container-1340  main-navigation border-bottom-mid container-1340-override">
            <div class="row justify-content-between align-items-center w-100">
                <div class="col">
                 <a href="/" class="header-logo">
                  <img src="/assets/brand/ImpactVC-logo.png" alt="">
                     <p class="sr-only">Impact VC</p>
                 </a>
                </div>

                <div class="col-auto">
                  <ul class="ul-reset d-flex justify-content-end align-items-center">
                    <li class="nav-menu-item">
                      <a href="/our-company" class="nav-link" id="nav-our-company">Our Company</a>
                    </li>
                    <li class="nav-menu-item">
                      <a href="/our-team" class="nav-link"  id="nav-our-team">Our Team</a>
                    </li>

                    <li class="nav-menu-item">
                      <a href="/investment-strategy" class="nav-link"  id="nav-investment-strategy">Investment Strategy</a>
                    </li>

                    <li class="nav-menu-item">
                      <a href="/press" class="nav-link"  id="nav-press">Press</a>
                    </li>

                    <li class="nav-menu-item">
                      <a href="/stories" class="nav-link"  id="nav-stories">Stories</a>
                    </li>
                  </ul>

                </div>

            </div>
        </div>


        <a href="#page-main-content" class="sr-only">Skip to main content</a>
    </nav>
</div>
