{{ define "main" }}
  <div id="home-container">


    <div>
      <button id="test-btn-click">Test</button>


      <div id="output"></div>
    </div>
  </div>



  <script type="text/javascript">
    setTimeout(() => {
      $(() =>  {
        console.log('ready')

        $('#test-btn-click').on('click', () => {
          console.log('clicking')
          $.ajax({
            url: "https://effortless-cat-bf0214.netlify.app/.netlify/functions/affinity",
            success: (msg) => {
              $('#output').append(msg.split('{"msg":"'))
            }
          })
        })
      })
    }, 500)
  </script>
{{ end }}
