{{ define "main" }}
  <div id="home-container">
      <section id="index-header-section">
        <div class="site-container-1200">
          <div class="row">
            <div class="col-12">
              <h1><span class="primary-text">Superior investment returns</span> through partnerships with game-changeing entrepreneurs and industry-leading corporations.</h1>
            </div>
          </div>
        </div>
      </section>

      <section class="container">
        <div class="item item-a">
          <lottie-player class="top-left-grid-lines" src="https://lottie.host/f6358913-7d67-403c-a900-64153421a4e2/tQw3FFwhv6.json" background="transparent" speed="1" loop autoplay></lottie-player>
          <img src="/assets/cards/standard/spotlight/ImactVC-spotlight-infinadeck-L.jpg" alt="" class="w-100">
          <p class="inner-text regular">Unbound natuarl Motion in VR</p>
        </div>
        <div class="item item-b">
            <lottie-player src="https://lottie.host/b8902a62-3c13-4783-b331-90a4a1df4323/nq9PTz5t4l.json" background="transparent" speed="1"  loop autoplay></lottie-player>
            <p class="inner-text regular">We are reinventing venture capital through active corporate collaboration.</p>
        </div>
        <div class="item item-c">
          <img src="/assets/cards/standard/stories/impactvc-news-TaskHuman-lands-20m-to-expand-virtual-coaching-platform-L.jpg" alt="" class="w-100">
          <p class="inner-text regular">TakeHuman lands $20M to expand its virtual coaching platform</p>
        </div>
        <div class="item item-d">
          <img src="/assets/cards/standard/spotlight/ImactVC-spotlight-cornami-L.jpg" alt="" class="w-100">
          <p class="inner-text regular">Taking high-performance AI</p>
        </div>
        <div class="item item-e">
          <img src="/assets/cards/wide/ImactVC-spotlight-nighingale-wide-L.jpg" alt="" class="w-100">
          <p class="inner-text wide">Nighingale Robotics Aerial Security is giving new meaning to "watch your back Jack!"</p>
        </div>
        <div class="item item-f">
          <lottie-player src="https://lottie.host/795ba5d0-1f09-4fdf-928d-4a4055f47bb3/TF0HiJ1cID.json" background="transparent" speed="1" loop autoplay></lottie-player>
        </div>
        <div class="item item-g">
          <img src="/assets/cards/small/impactvc-people-L.jpg" alt="" class="w-100">
        </div>
        <div class="item item-h">
          <img src="https://picsum.photos/id/357/500/725" alt="" class="w-100">
          <p class="inner-text regular">Delivering extreme connectivity for breathtaking performace.</p>
        </div>
        <div class="item item-j">
          <lottie-player src="https://lottie.host/9bc54f56-1ead-4bed-b8ac-493b543e4c84/x78VELlnGm.json" background="transparent" speed="1"  loop autoplay></lottie-player>
          <p class="inner-text regular">we de-risk investment opportunites.</p>
          <div class="background-image"></div>
        </div>
      </section>





      <section id="site-cta-section">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
      </section>
  </div>
{{ end }}
