{{ define "main" }}
  <div id="home-container">
      <section id="index-header-section">
        <div class="site-container-1200">
          <div class="row">
            <div class="col-12">
              <h1 class="h1-home-heading opactity-antimation"><span class="primary-text">Superior investment returns</span> through partnerships with game-changing entrepreneurs and industry-leading corporations.</h1>
            </div>
          </div>
        </div>
      </section>

      <section id="index-products-section">
        <div class="site-container-1340 container px-lg-0">
          <div class="item item-a position-relative">
            <div class="index-stories-category">
              <a class="white-link mr-2"  href="/tags/spotlight/">
                <i class="far fa-plus mr-2"></i> Spotlight
              </a>
            </div>
            <lottie-player class="lottie-animation top-left-grid-lines"  src="https://lottie.host/f756b689-5736-47a9-a44b-8985c71be394/YlVA8YCC8K.json" background="transparent" speed="1" ></lottie-player>
            <lottie-player class="lottie-animation top-right-grid-lines d-md-none" src="https://lottie.host/f041c641-c628-4550-8ed8-041306f1aabf/QuvfuHb5Fk.json" background="transparent" speed="1"></lottie-player>
            <a href="/stories/thomson-reuters-acquires-gov-tech-company-pondera-solutions">
              <img src="/assets/cards/Small/impactvc-pondera-S.jpg" alt="" class="d-md-none w-100 opactity-antimation">
              <img src="/assets/cards/Medium/impactvc-pondera-M.jpg" alt="" class="d-none d-md-block d-lg-none w-100 opactity-antimation">
              <img src="/assets/cards/Large/impactvc-pondera-L.jpg" alt="" class="d-none d-lg-block w-100 opactity-antimation">
              <p class="h5-heading h5-heading inner-text regular">Pondera Solutions Acquired by Thomson Reuters.</p>
            </a>
          </div>

          <div class="item item-b position-relative ">
            <div class="index-stories-category">
              <a class="white-link mr-2"  href="/investment-strategy">
                <i class="far fa-plus mr-2"></i> Strategy
              </a>
            </div>
            <lottie-player class="lottie-animation middle-left-grid-lines  d-md-none" src="https://lottie.host/8d581456-26c4-492f-9b6c-8dd7a9561659/0WVKyiaGx7.json" background="transparent" speed="1"></lottie-player>
            <lottie-player class="lottie-animation middle-right-grid-lines d-md-none"  src="https://lottie.host/c811dc4d-3601-48b6-848c-7949b19ec5fd/R7UK7DXxyI.json" background="transparent" speed="1"></lottie-player>
            <lottie-player class="lottie-animation top-middle-grid-lines d-none d-md-block"  src="https://lottie.host/02c9751d-d330-4706-b633-57c32b93c220/A9ZDgC7vmX.json" background="transparent" speed="1" ></lottie-player>
            <lottie-player class="lottie-animation bottom-middle-grid-lines d-none d-md-block d-lg-none"  src="https://lottie.host/c3504887-05c7-4c22-9aed-80dddf4b0622/8Fk2OfPBEc.json" background="transparent" speed="1"></lottie-player>
            <lottie-player class="lottie-animation top-right-grid-lines d-none d-md-block" src="https://lottie.host/f041c641-c628-4550-8ed8-041306f1aabf/QuvfuHb5Fk.json" background="transparent" speed="1"></lottie-player>

            <a href="/investment-strategy">
              <lottie-player src="https://lottie.host/b8902a62-3c13-4783-b331-90a4a1df4323/nq9PTz5t4l.json" background="transparent" speed="1"  class="opactity-antimation" autoplay></lottie-player>
              <p class="h5-heading inner-text regular">We are reinventing venture capital through active corporate collaboration.</p>
            </a>
          </div>

          <div class="item item-c position-relative">
            <div class="index-stories-category">
              <a class="white-link mr-2"  href="/press">
                <i class="far fa-plus mr-2"></i> News
              </a>
            </div>
            <lottie-player class="lottie-animation middle-left-grid-lines  d-md-none" src="https://lottie.host/8d581456-26c4-492f-9b6c-8dd7a9561659/0WVKyiaGx7.json" background="transparent" speed="1"></lottie-player>
            <lottie-player class="lottie-animation middle-right-grid-lines d-md-none"  src="https://lottie.host/c811dc4d-3601-48b6-848c-7949b19ec5fd/R7UK7DXxyI.json" background="transparent" speed="1"></lottie-player>
            <lottie-player class="lottie-animation middle-left-grid-lines d-none d-md-block" src="https://lottie.host/8d581456-26c4-492f-9b6c-8dd7a9561659/0WVKyiaGx7.json" background="transparent" speed="1"></lottie-player>
            <lottie-player class="lottie-animation middle-middle-grid-lines d-none d-lg-block" src="https://lottie.host/9b0979e9-7c43-4c26-b6e9-9fc4b6ff1d77/gLR2yehPil.json" background="transparent" speed="1" ></lottie-player>
            <a href="/stories/aptos-kicks-off-next-chapter-of-global-growth-with-successful-revionics-acquisition/">
              <img src="/assets/cards/Small/impactvc-aptos-S.jpg" alt="" class="d-md-none w-100 opactity-antimation">
              <img src="/assets/cards/Medium/impactvc-aptos-M.jpg" alt="" class="d-none d-md-block d-lg-none w-100 opactity-antimation">
              <img src="/assets/cards/Large/impactvc-aptos-L.jpg" alt="" class="d-none d-lg-block w-100 opactity-antimation">
              <p class="h5-heading inner-text regular">Revionics Acquired by Aptos.</p>
            </a>
          </div>

          <div class="item item-d position-relative">
            <div class="index-stories-category">
              <a class="white-link mr-2"  href="/tags/spotlight/">
                <i class="far fa-plus mr-2"></i> Spotlight
              </a>
            </div>
            <lottie-player class="lottie-animation middle-left-grid-lines  d-lg-none" src="https://lottie.host/8d581456-26c4-492f-9b6c-8dd7a9561659/0WVKyiaGx7.json" background="transparent" speed="1"></lottie-player>
            <lottie-player class="lottie-animation middle-right-grid-lines d-md-none"  src="https://lottie.host/c811dc4d-3601-48b6-848c-7949b19ec5fd/R7UK7DXxyI.json" background="transparent" speed="1"></lottie-player>
            <lottie-player class="lottie-animation middle-right-grid-lines d-none d-md-block"  src="https://lottie.host/c811dc4d-3601-48b6-848c-7949b19ec5fd/R7UK7DXxyI.json" background="transparent" speed="1"></lottie-player>
            <lottie-player class="lottie-animation bottom-middle-grid-lines d-none d-lg-block"  src="https://lottie.host/c3504887-05c7-4c22-9aed-80dddf4b0622/8Fk2OfPBEc.json" background="transparent" speed="1"></lottie-player>
            <a href="/stories/cornami-raises-68m-to-support-quantum-encryption">
              <img src="/assets/cards/Small/impactvc-spotlight-cornami-S.jpg" alt="" class="d-md-none w-100 opactity-antimation">
              <img src="/assets/cards/Medium/impactvc-spotlight-cornami-M.jpg" alt="" class="d-none d-md-block d-lg-none w-100 opactity-antimation">
              <img src="/assets/cards/Large/impactvc-spotlight-cornami-L.jpg" alt="" class="d-none d-lg-block w-100 opactity-antimation">
              <p class="h5-heading inner-text regular">Cornami Raises $68M to Support Quantum Encryption.</p>
            </a>
          </div>

          <div class="item item-e position-relative">
            <div class="index-stories-category">
              <a class="white-link mr-2"  href="/tags/spotlight/">
                <i class="far fa-plus mr-2"></i> Spotlight
              </a>
            </div>
            <lottie-player class="lottie-animation middle-left-grid-lines  d-md-none" src="https://lottie.host/8d581456-26c4-492f-9b6c-8dd7a9561659/0WVKyiaGx7.json" background="transparent" speed="1"></lottie-player>
            <lottie-player class="lottie-animation middle-right-grid-lines d-md-none"  src="https://lottie.host/c811dc4d-3601-48b6-848c-7949b19ec5fd/R7UK7DXxyI.json" background="transparent" speed="1"></lottie-player>
            <lottie-player class="lottie-animation middle-left-grid-lines  d-none d-lg-block" src="https://lottie.host/8d581456-26c4-492f-9b6c-8dd7a9561659/0WVKyiaGx7.json" background="transparent" speed="1"></lottie-player>
            <lottie-player class="lottie-animation middle-right-grid-lines  d-none d-lg-block"  src="https://lottie.host/c811dc4d-3601-48b6-848c-7949b19ec5fd/R7UK7DXxyI.json" background="transparent" speed="1"></lottie-player>
            <a href="/stories/Taskhuman-lands-20m-to-expand-its-virtual-coaching-platform">

              <img src="/assets/cards/Small/impactvc-news-TaskHuman-lands-20m-to-expand-virtual-coaching-platform-S.jpg" alt="" class="d-md-none w-100 opactity-antimation">
              <img src="/assets/cards/Medium/impactvc-news-TaskHuman-lands-20m-to-expand-virtual-coaching-platform-M.jpg" alt="" class="d-none d-md-block d-lg-none w-100 opactity-antimation">
              <img src="/assets/cards/Large/impactvc-taskhuman-L.jpg" alt="" class="d-none d-lg-block w-100 opactity-antimation">
              <p class="h5-heading inner-text wide">TaskHuman lands $20M to expand its virtual coaching platform</p>
            </a>
          </div>


          <div class="item item-f position-relative">
            <div class="index-stories-category">
              <a class="white-link mr-2"  href="/our-companies">
                <i class="far fa-plus mr-2"></i> Companies
              </a>
            </div>
            <lottie-player class="lottie-animation middle-left-grid-lines  d-md-none" src="https://lottie.host/8d581456-26c4-492f-9b6c-8dd7a9561659/0WVKyiaGx7.json" background="transparent" speed="1"></lottie-player>
            <lottie-player class="lottie-animation middle-right-grid-lines d-md-none"  src="https://lottie.host/c811dc4d-3601-48b6-848c-7949b19ec5fd/R7UK7DXxyI.json" background="transparent" speed="1"></lottie-player>
            <lottie-player class="lottie-animation bottom-left-grid-lines d-none d-md-block d-lg-none" src="https://lottie.host/e484b534-6ae3-4528-942f-7604f581c7f9/IGo5pz2FTU.json" background="transparent" speed="1"></lottie-player>
            <lottie-player class="lottie-animation middle-left-grid-lines d-none d-md-block" src="https://lottie.host/8d581456-26c4-492f-9b6c-8dd7a9561659/0WVKyiaGx7.json" background="transparent" speed="1"></lottie-player>

            <lottie-player src="https://lottie.host/9f77b8b5-aaa9-4e29-8b3a-d938c22351ae/dTDStfAlCa.json" background="transparent" speed="1" loop class="opactity-antimation d-lg-none" autoplay style="
    background-color: #4d39e9;
"></lottie-player>
            <lottie-player src="https://lottie.host/795ba5d0-1f09-4fdf-928d-4a4055f47bb3/TF0HiJ1cID.json" background="transparent" speed="1" loop class="opactity-antimation d-none d-lg-block" autoplay></lottie-player>
          </div>

          <div class="item item-g position-relative">
            <div class="index-stories-category">
              <a class="white-link mr-2"  href="/our-team">
                <i class="far fa-plus mr-2"></i> People
              </a>
            </div>
            <lottie-player class="lottie-animation middle-left-grid-lines  d-md-none" src="https://lottie.host/8d581456-26c4-492f-9b6c-8dd7a9561659/0WVKyiaGx7.json" background="transparent" speed="1"></lottie-player>
            <lottie-player class="lottie-animation middle-right-grid-lines d-lg-none"  src="https://lottie.host/c811dc4d-3601-48b6-848c-7949b19ec5fd/R7UK7DXxyI.json" background="transparent" speed="1"></lottie-player>
            <lottie-player class="lottie-animation bottom-middle-grid-lines d-none d-md-block d-lg-none"  src="https://lottie.host/c3504887-05c7-4c22-9aed-80dddf4b0622/8Fk2OfPBEc.json" background="transparent" speed="1"></lottie-player>
            <lottie-player class="lottie-animation top-middle-grid-lines d-none d-md-block"  src="https://lottie.host/02c9751d-d330-4706-b633-57c32b93c220/A9ZDgC7vmX.json" background="transparent" speed="1" ></lottie-player>
            <lottie-player class="lottie-animation bottom-middle-grid-lines d-none d-lg-block"  src="https://lottie.host/c3504887-05c7-4c22-9aed-80dddf4b0622/8Fk2OfPBEc.json" background="transparent" speed="1"></lottie-player>



            <img src="/assets/cards/Small/impactvc-people-S.jpg" alt="" class="d-md-none w-100 opactity-antimation">
            <img src="/assets/cards/Medium/impactvc-people-M.jpg" alt="" class="d-none d-md-block d-lg-none w-100 opactity-antimation">
            <img src="/assets/cards/Large/impactvc-people-L.jpg" alt="" class="d-none d-lg-block w-100 opactity-antimation">
          </div>






          <div class="item item-h position-relative">
            <div class="index-stories-category">
              <a class="white-link mr-2"  href="/tags/spotlight/">
                <i class="far fa-plus mr-2"></i> Spotlight
              </a>
            </div>

            <lottie-player class="lottie-animation middle-left-grid-lines  d-lg-none" src="https://lottie.host/8d581456-26c4-492f-9b6c-8dd7a9561659/0WVKyiaGx7.json" background="transparent" speed="1"></lottie-player>
            <lottie-player class="lottie-animation middle-right-grid-lines "  src="https://lottie.host/c811dc4d-3601-48b6-848c-7949b19ec5fd/R7UK7DXxyI.json" background="transparent" speed="1"></lottie-player>
            <lottie-player class="lottie-animation top-middle-grid-lines d-none d-lg-block"  src="https://lottie.host/02c9751d-d330-4706-b633-57c32b93c220/A9ZDgC7vmX.json" background="transparent" speed="1" ></lottie-player>




            <a href="/stories/gigaio-raises-14-7-million-in-oversubscribed-series-b-funding-led-by-impact-venture-capital">
              <img src="/assets/cards/Small/impactvc-spotlight-gigaio-S.jpg" alt="" class="d-md-none w-100 opactity-antimation">
              <img src="/assets/cards/Medium/impactvc-spotlight-gigaio-M.jpg" alt="" class="d-none d-md-block d-lg-none w-100 opactity-antimation">
              <img src="/assets/cards/Large/impactvc-spotlight-gigaio-L.jpg" alt="" class="d-none d-lg-block w-100 opactity-antimation">
              <p class="h5-heading inner-text regular">GigaIO Raises $14.7M Series B Funding led by Impact Venture Capital</p>
            </a>
          </div>

          <div class="item item-i position-relative">
            <div class="index-stories-category">
              <a class="white-link mr-2"  href="/investment-strategy">
                <i class="far fa-plus mr-2"></i> Strategy
              </a>
            </div>

            <lottie-player class="lottie-animation middle-left-grid-lines" src="https://lottie.host/8d581456-26c4-492f-9b6c-8dd7a9561659/0WVKyiaGx7.json" background="transparent" speed="1"></lottie-player>
            <lottie-player class="lottie-animation middle-right-grid-lines "  src="https://lottie.host/c811dc4d-3601-48b6-848c-7949b19ec5fd/R7UK7DXxyI.json" background="transparent" speed="1"></lottie-player>


            <a href="/stories/advanced-farm-technologies-completes-25-million-series-b-funding-round">
              <img src="/assets/cards/Small/impactvc-advanced-farm-S.jpg" alt="" class="d-md-none w-100 opactity-antimation">
              <img src="/assets/cards/Medium/impactvc-advanced-farm-M.jpg" alt="" class="d-none d-md-block d-lg-none w-100 opactity-antimation">
              <img src="/assets/cards/Large/impactvc-advanced-farm-L.jpg" alt="" class="d-none d-lg-block w-100 opactity-antimation">
              <p class="h5-heading inner-text regular">Advanced Farm Technologies Completes $25M Series B Funding Round.</p>
            </a>

          </div>






          <div class="item item-j position-relative">
            <div class="index-stories-category">
              <a class="white-link mr-2"  href="/press">
                <i class="far fa-plus mr-2"></i> News
              </a>
            </div>
                <lottie-player class="lottie-animation middle-middle-grid-lines d-none d-lg-block" src="https://lottie.host/9b0979e9-7c43-4c26-b6e9-9fc4b6ff1d77/gLR2yehPil.json" background="transparent" speed="1" ></lottie-player>

            <lottie-player class="lottie-animation top-middle-grid-lines d-none d-md-block d-lg-none"  src="https://lottie.host/02c9751d-d330-4706-b633-57c32b93c220/A9ZDgC7vmX.json" background="transparent" speed="1" ></lottie-player>
            <lottie-player class="lottie-animation bottom-middle-grid-lines d-none d-md-block d-lg-none"  src="https://lottie.host/c3504887-05c7-4c22-9aed-80dddf4b0622/8Fk2OfPBEc.json" background="transparent" speed="1"></lottie-player>
            <lottie-player class="lottie-animation middle-left-grid-lines d-md-none d-lg-block" src="https://lottie.host/8d581456-26c4-492f-9b6c-8dd7a9561659/0WVKyiaGx7.json" background="transparent" speed="1"></lottie-player>




            <a href="">
              <lottie-player class="lottie-risk-anamation opactity-antimation" src="https://lottie.host/9bc54f56-1ead-4bed-b8ac-493b543e4c84/x78VELlnGm.json" background="transparent" speed="1" autoplay></lottie-player>

              <p class="h5-heading inner-text regular">We de-risk investment opportunities.</p>
              <div class="background-image"></div>
            </a>
          </div>

          <div class="item item-k position-relative">
            <div class="index-stories-category">
              <a class="white-link mr-2"  href="/tags/spotlight/">
                <i class="far fa-plus mr-2"></i> News
              </a>
            </div>
            <lottie-player class="lottie-animation middle-left-grid-lines  d-lg-none" src="https://lottie.host/8d581456-26c4-492f-9b6c-8dd7a9561659/0WVKyiaGx7.json" background="transparent" speed="1"></lottie-player>
            <lottie-player class="lottie-animation middle-right-grid-lines "  src="https://lottie.host/c811dc4d-3601-48b6-848c-7949b19ec5fd/R7UK7DXxyI.json" background="transparent" speed="1"></lottie-player>

            <lottie-player class="lottie-animation bottom-middle-grid-lines d-none d-lg-block"  src="https://lottie.host/c3504887-05c7-4c22-9aed-80dddf4b0622/8Fk2OfPBEc.json" background="transparent" speed="1"></lottie-player>
            <lottie-player class="lottie-animation bottom-right-grid-lines d-none d-lg-block" src="https://lottie.host/9ebd8ff4-837d-4697-88dd-dd38916943aa/U4sBxKrnzF.json" background="transparent" speed="1"></lottie-player>

            <lottie-player class="lottie-animation bottom-right-grid-lines d-md-block d-lg-none " src="https://lottie.host/9ebd8ff4-837d-4697-88dd-dd38916943aa/U4sBxKrnzF.json" background="transparent" speed="1"></lottie-player>
            <lottie-player class="lottie-animation bottom-left-grid-lines d-md-none d-lg-block" src="https://lottie.host/e484b534-6ae3-4528-942f-7604f581c7f9/IGo5pz2FTU.json" background="transparent" speed="1"></lottie-player>


            <a href="/stories/alef-unveils-first-and-only-drivable-flying-car-with-vertical-takeoff-and-landing">

              <img src="/assets/cards/Small/impactvc-alef-S.jpg" alt="" class="d-md-none w-100 opactity-antimation">
              <img src="/assets/cards/Medium/impactvc-alef-M.jpg" alt="" class="d-none d-md-block d-lg-none w-100 opactity-antimation">
              <img src="/assets/cards/Large/impactvc-alef-L.jpg" alt="" class="d-none d-lg-block w-100 opactity-antimation">
              <p class="h5-heading inner-text regular">Alef, Unveils the Alef Flying Car.</p>

            </a>
          </div>
        </div>
      </section>
  </div>



  <script type="text/javascript">
    setTimeout(() => {
      function isInViewport(element) {
        const rect = element.getBoundingClientRect();
        return (
        rect.top >= 0 &&
        rect.left >= 0 &&
        rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) &&
        rect.right <= (window.innerWidth || document.documentElement.clientWidth)
        );
      }

      let icons = document.getElementsByClassName('lottie-animation')
      var iconsArr = [].slice.call(icons);


      document.addEventListener('scroll', function (e) {
        iconsArr.forEach(val => {
          if(isInViewport(val)) {
           val.play();
          }
        })
    })
    }, 500)
  </script>
{{ end }}
