{{ define "main" }}
  <section id="inner-page-title-section">
    <div class="site-container-1340">
      <div class="row">
        <div class="col-12">
          <div class="h1-wrapepr">
            <h1>Stories</h1>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="stories-category-selection-section">
    <div class="site-container-1340 stories-toggle-row">
      <div class="row ">
        <div class="col-12 px-3">
          <ul class="ul-reset d-flex align-items-center justify-content-between">
            <li>
              <a href="/stories" class="h5-heading stories-category-link active">
                <i class="fal fa-plus"></i>  All
              </a>
            </li>

            <li>
              <a href="/tags/investment/" class="h5-heading stories-category-link">
                <i class="fal fa-plus" ></i>  Investment
              </a>
            </li>

            <li>
              <a href="/impacttv" class="h5-heading stories-category-link">
                <i class="fal fa-plus" ></i>  Impact TV
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </section>

  <section id="blog-roll-section" class="blog-page-section mt-5">
    <div class="site-container-1340">
      <div class="row row-cols-1 row-cols-lg-3">
        {{ range .Pages }}
        <div class="col-12 col-md-6 mb-3">
          {{ .Render "card" }}
        </div>
        {{ end }}
      </div>
    </div>
  </section>
{{ end }}
