{{ define "main" }}
<div class="blog-page-section">
    {{ $page := . }}


    <section id="blog-nav-section">
        <div class="site-container-1340">
          <div class="row">
            <div class="col-12">
              <a href="/stories" class="black-link">
                <i class="fas fa-chevron-left"></i> Back to stories
              </a>
            </div>
          </div>
        </div>
    </section>

    <aside>
      {{ partial "sharer.html" $page }}
    </aside>

    <section class="site-container-992">
      <div class="row">
        <div class="col-12 text-center">
            <p>By <a href="/our-team/pat-bumpus" class="primary-link">Pat Bumpus</a> | {{ $page.Date.Format (.Site.Params.dateFormat | default "January 2, 2006") }} |
             {{ with $page.Params.tags }}
                {{ range . }}
                <a class="primary-link mr-2" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">
                  <i class="far fa-plus mr-2"></i>{{ . }}
                </a>
                {{ end }}
                </p>
             {{ end }}
          <h2 class="py-3">{{ $page.Title }}</h2>
        </div>
      </div>
    </section>

    <section class="site-container-992">
      <div class="row">
        <div class="col-12 position-relative p-4">
          <lottie-player class="lottie-animation top-left-grid-lines"  src="https://lottie.host/f756b689-5736-47a9-a44b-8985c71be394/YlVA8YCC8K.json" background="transparent" speed="1"  autoplay></lottie-player>
          <lottie-player class="lottie-animation top-right-grid-lines" src="https://lottie.host/f041c641-c628-4550-8ed8-041306f1aabf/QuvfuHb5Fk.json" background="transparent" speed="1" autoplay></lottie-player>

          <lottie-player class="lottie-animation bottom-left-grid-lines" src="https://lottie.host/e484b534-6ae3-4528-942f-7604f581c7f9/IGo5pz2FTU.json" background="transparent" speed="1" autoplay></lottie-player>
          <lottie-player class="lottie-animation bottom-right-grid-lines " src="https://lottie.host/9ebd8ff4-837d-4697-88dd-dd38916943aa/U4sBxKrnzF.json" background="transparent" speed="1" autoplay></lottie-player>

          <img src="{{ $page.Params.mainImage }}" alt="{{ $page.Params.alt }}" class="w-100">
        </div>
        <div class="col-12 py-5">
          <div class="blog-page-content">
            {{ $page.Content }}
          </div>
        </div>
        <div class="col-12">
          {{- with $page.Params.tags -}}
          <div class="tags my-3">
            {{- range . -}}
            <a class="badge mr-2" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">
              <i class="fas fa-tag mr-2"></i>{{ . }}
            </a>
            {{- end -}}
          </div>
          {{- end -}}
        </div>
        <div class="col-12">
          {{ template "_internal/disqus.html" . }}
        </div>
        </div>
      </div>
    </section>



    <section>
      <div class="site-container-1340">
        <div class="row">
          {{ partial "related.html" $page }}
        </div>
      </div>
    </section>





<script type="text/javascript">
  setTimeout(() =>{
    if( window.location.href.split('/blog/').length > 1) {
      var blogLinks = $('.blog-page-content').find('a')
      $.each(blogLinks, (index, value) => {
        if($(value).attr('href').split('http').length > 1 ) {
          $(value).attr('target', '_blank')
        }

        if($(value).attr('href').split('https').length > 1 ) {
          $(value).attr('target', '_blank')
        }
      })
    }
  }, 500)
</script>
</div>


{{ end }}
